/*********************header***************/



/*=======================popup style ==================*/
.info-popup {
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 56px 13px 16px 13px;
    background: #fff;
    color: #868686;
    font-size: 15px;
    text-align: center;
    z-index: 4;
    overflow-y: auto;
}

.arrow-up {
    width: 28px;
    height: 20px;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-bottom: 18px solid #ffffff;
    position: fixed;
    top: 42px;
    left: 31px;
}

@media only screen and ( min-width: 992px ) {
    .arrow-up {
        left: 0px;
    }
}

.info-close {
    background-image: url(../../img/information-x.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    /*color: #fff;
    background-color: #000000;*/
    display: block;
    width: 25px;
    height: 25px;
    line-height: 17px;
    text-align: center;
    border-radius: 20px;
    font-weight: 100;
    font-size: 0.9em;
    cursor: pointer;
    margin: 5px;
}

.info-img {
    margin: 0 auto;
    display: block;
    clear: both;
    height: 65px;
}

.info-header {
    height: 42px;
    border-radius: 10px;
    margin: 12px auto 15px auto;
    color: #fff;
    font-size: 20px;
    text-align: center;
    width: 252px;
    line-height: 42px;
}

.info-popup .main-text {
    width: 252px;
    margin: 20px auto;
    line-height: 19px;
    font-size: 14px;
    color: #000000;
}

#whatsup-bottom {
    position: absolute;
    bottom: 0px;
    padding: 0px 0px 0px 0px;
    width: 100%;
    margin-bottom: 4px;
}

#bottom-main-text {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
}

#whatsup-bottom p {
    margin-bottom: 4px;
}


.join-button {
    margin: 12px auto 0px auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #000000;
    display: inline-block;
    width: 160px;
    height: 40px;
    line-height: 40px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #993ca7;
    color: #fff;
    font-size: 20px;
}

.devider-line {
    background-image: url(../../img//image/color_line.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 4px;
    background-size: 100% 100%;
}

.top-diveder {
    margin: 10px 0;
}

.bottom-devider {
    position: absolute;
    bottom: 0px;
    height: 4px;
}

header .btn.btn-navbar.info {
    background-image: url("../../img/i.png");
    background-size: 100% 100%;
    border: 0px;
    width: 28px;
    height: 28px;
    top: 9px;
    left: -6px;
}

/********************side-bar*******************/


/*.sidebar-left-in .app {
    -webkit-box-shadow: 7px 0px 10px -2px rgba(0,0,0,0.35);
    -moz-box-shadow: 7px 0px 10px -2px rgba(0,0,0,0.35);
    box-shadow: inset 7px 0px 10px -2px rgba(0,0,0,0.35);
}*/


.sidebar-header {
    height: 98px;
}

span.sidbar-text.ng-binding:hover {
    /*  background-color: #565c63; */
    /*color: white;*/
}

a.list-group-item.active, a.list-group-item.active:focus, a.list-group-item.active:hover {
    /*background-color: none;*/
}

.popups-mask {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    z-index: 3;
}

.out-list-group.list-group {
    padding-left: 0px;
    padding-right: 0px;
}

.inner-list-group {
    border-bottom: 1px solid #000;
    width: 100%;
    height: 100%;
    padding: 0px 7px 0px 0px;
}

.list-group-item img {
    left: 13px;
    width: 34px;
    height: 34px;
    top: 8px;
}

a.list-group-item.menu.active, a.list-group-item.menu.active:focus {
    background-color: #00aeef;
    color: #ffffff;
}

a.list-group-item.talkback.active, a.list-group-item.talkback.active:focus {
    background-color: #993ca7;
    color: #ffffff;
}

a.list-group-item.active, a.list-group-item.active:focus, a.list-group-item.active:hover {
    color: #000;
}

a.list-group-item.meme.active, a.list-group-item.meme.meme:focus {
    background-color: #ffd427;
    color: #ffffff;
}

a.list-group-item.event.active, a.list-group-item.event.active:focus {
    background-color: #004a8e;
    color: #ffffff;
}

a.list-group-item.poll.active, a.list-group-item.poll.active:focus {
    background-color: #f55c06;
    color: #ffffff;
}

a.list-group-item.chat.active, a.list-group-item.chat.active:focus {
    background-color: #01a3d4;
    color: #ffffff;
}

a.list-group-item.menu.active, a.list-group-item.menu.active:focus {
    background-color: #00aeef;
    color: #ffffff;
}

a.list-group-item.tv.active, a.list-group-item.tv.active:focus {
    background-color: #9e0b0f;
    color: #ffffff;
}


a.list-group-item.channel.active {
    background-color: red;
    color: #ffffff;
}


a.list-group-item.facebooknaf.active {
    background-color: #004a8e;
    color: #ffffff;
}

a.list-group-item.flash.active {
    background-color: #00aeff;
    color: #ffffff;
}

a.list-group-item.points.active {
   background-color: #00be9c;
    color: #ffffff;
}

a.list-group-item.contact.active {
   background-color: #009933;
    color: #ffffff;
}

a.list-group-item.tv {
    display: none;
}




@media only screen and ( max-height: 480px ) {

    #whatsup-bottom {
        margin-bottom: 0px;
        padding-top: 0px;
    }

    #whatsup-bottom p {
        font-size: 14px;
    }

    #whatsup-bottom .join-button {
        margin: 5px auto 0px auto;
        width: 103px;
        height: 32px;
        line-height: 30px;
        font-size: 15px;
        -webkit-box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.5);
        box-shadow: 1px 8px 6px -2px rgba(0, 0, 0, 0.4);
    }

    .info-close {
        margin-bottom: -1px;
    }
}


/********************point-count-area************************/

.point-section {
    overflow-x: hidden;
    padding-bottom: 20px;
}

#main-point-wrapper .point-wrapper.point-wrapper-left:first-child .inner-point-wrapper {
    border-top-left-radius: 0px;
}

#main-point-wrapper .point-wrapper.point-wrapper-left:first-child {
    padding-top: 10px;
}

.point-section .inner-point-wrapper:first-child {
}

.point-wrapper {
    box-sizing: border-box;
    padding: 0px 15px;
    background-repeat: no-repeat;
    position: relative;
}

.point-wrapper-left .inner-point-wrapper {
    border-left: 1px solid black;
    border-bottom-right-radius: 0px;
    padding-left: 70px;
}

.point-wrapper-right .inner-point-wrapper {
    border-right: 1px solid black;
    border-bottom-left-radius: 0px;
    padding-right: 70px;
}

.inner-point-wrapper {
    border-radius: 10px;
    border-bottom: 1px solid black;
    padding: 25px 0px;
}

.quality-scores {
    padding: 11px 0px;
    font-size: 17px;
    background-repeat: no-repeat;
    background-size: 21px;
}

.point-wrapper.point-wrapper-left {
    padding-right: 25px;
}

/*.point-wrapper.point-wrapper-left:after{
    background-image: url("../../img/side-point-right.jpg");
    background-size: 54px;
    width: 50px;
    height: 80px;
    background-repeat: no-repeat;
    
    
}*/

.point-wrapper-left .score-image {
    left: -50px;
}

.point-wrapper-right .score-image {
    right: -50px;
}


.score-image {
    position: absolute;
    margin: auto 0px;
    top: 0px;
    bottom: 0px;
    border-radius: 68px;
    height: 130px;
    z-index: 0;
    width: 130px;
    background-color: red;
    font-weight: bold;
    font-size: 65px;
    padding-top: 25px;
    color: #000000;
    text-align: left;
    direction: ltr;
}

.score-height {
    display: inline-block;
}

.point-wrapper-left .score-image {
    padding-left: 50px;
}

.point-wrapper-right .score-image {
    padding-left: 13px;
}

.point-plus {
    width: 25px;
    height: 60px;
    display: inline-block;
    /*background-color: blue;*/
}

.quality-scores.quality-scores-left {
    text-align: right;
    padding-left: 22px;
    background-position: left;
}

.point-wrapper.point-wrapper-right {
    padding-left: 25px;
}

.quality-scores.quality-scores-right {
    text-align: left;
    background-position: right;
    padding-right: 25px;
}

.score-one {
}

.score-two {
}

div#point-header-text {
    height: 40px;
    font-weight: bold;
}

#main-point-wrapper .point-wrapper:last-child .inner-point-wrapper {
    border-bottom: 0px;
    border-bottom-right-radius: 0px;
}

.point-devider-line {
    margin-bottom: 10px;
}
