<div class="app-name" data-toggle="off" data-bubble data-target="mainSidebar" data-ng-click="closePopups();goToUserProfile()">
    <img class="sidebar-logo user-thumbnail header-user-logo" data-ng-src="{{userProfile().userImg}}" alt="alt">
    <h3 class="name-in-header">{{userProfile().firstName}} {{userProfile().lastName}}</h3>
</div>



<div class="scrollable" style="background-color: ">
    <div class="scrollable-content">
        <div class="list-group out-list-group" data-ng-click="closePopups()" data-toggle="off" data-bubble data-target="mainSidebar">
            <a data-ng-repeat="feature in featuresList" data-ng-class="{'list-group-item':true,'{{feature.featureStyleName}}':true}" data-once-href="'#/'+feature.featureUrl">
                <div class="inner-list-group">
                    <span class="sidbar-text"  data-once-text="feature.featureName" >
                            <!-- {{feature.featureName}} -->
                    </span>
                </div>
                <img class="sidebar-logo" data-once-src="feature.featureLogo" alt="alt">
            </a>
            <!-- ... -->
        </div>

    </div>
</div>



<!-- data-ng-mouseover="gh($event , feature.featureColor)" data-ng-repeat="" -->