<h1 class="app-name" data-toggle="off" data-bubble data-target="mainSidebar" data-ng-click="goToUserProfile()">
    <div id="my-username">{{userProfile().firstName}} {{userProfile().lastName}}</div>  
    <img class="sidebar-logo user-thumbnail" ng-src='{{userProfile().userImg}}' alt="alt">
</h1>



            <div class="scrollable">
                <div class="scrollable-content">
                    <div class="list-group" data-toggle="off" data-bubble data-target="mainSidebar"  >
                        <a data-ng-repeat="feature in featuresList" ng-class="{'list-group-item':true,'{{feature.featureColor}}':true}" href="#/{{feature.featureUrl}}">
                            <span class="sidbar-text">
                                {{feature.featureName}}
                            </span>
                            <img class="sidebar-logo" ng-src='{{feature.featureLogo}}' alt="alt" >
                        </a>
                        <!-- ... -->
                    </div>

                </div>
            </div>
			
			
			
			<!--  -->