@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrew.css);

body {
    direction: rtl;
    height: 100%;
    font-family: 'Open Sans Hebrew';
}

:focus {
    outline: none;
}

textarea {
    resize: none;
}

.app {
    height: 100%;
    padding-top: 43px;
    box-sizing: border-box;
}

.app-body, .main-view, #main-menu {
    height: 100%;
    position: relative;
    background-color: #ecf8ff;
}

.loader {
    height: 27px;
    width: 196px;
    background-image: url('../img/loader_text_new.png');
    background-size: 100% 100%;
    margin: auto;
}

.general-loader {
    position: absolute;
    margin: auto;
    height: 27px;
    width: 196px;
    top: 0px;
    display: block;
    bottom: 0px;
    right: 0px;
    left: 0px;
    z-index: 15;
    background-image: url('../img/loader_text_new.png');
    background-size: 100% 100%;
}

.fa-spinner:before {
    /*content: "";*/
}

/*testing nav bar*/
.navbar, .navbar-app {
    min-height: 0px;
}

header.navbar.navbar-app.navbar-absolute-top {
    height: 44px;
}


img.title-img {
    top: -11px;
    border-radius: 100%;
    background-color: #FFF;
}

header .btn.btn-navbar.info {
    top: 4px;
}

header i.fa {
    position: relative;
    top: -2px;
    left: -13px;
}

i.fa.fa-reply {
    left: 0px;
}

header i.fa.share {
    background: url(../img/share.png);
    height: 29px;
    width: 29px;
    background-size: 100% 100%;
    top: 7px;
    position: relative;
    right: 6px;
    /*background: url(../img/share.png) 9px 12px / 20px 20px no-repeat rgb(178, 200, 221);*/
}

.btn.btn-navbar.ng-scope:active {
    opacity: 1;
}

.btn:active, a:active {
    opacity: 1;
}

header i.fa.back {
    background-image: url(../img/back.png);
    height: 40px;
    width: 40px;
    background-size: 100% 100%;
    top: 2px;
    position: relative;
    right: 5px;
}

.scroll-main-window {
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

select {
    border: none;
    width: 100%;
    padding: 0px;
    padding-right: 0px;
    float: left;
    height: 100%;
    text-indent: 20px;
    -webkit-appearance: none;
    background-image: url('../img/arrow_user.png');
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position-x: 10px;
    background-position-y: 7px;
}


.shadow-buttons {
    -webkit-box-shadow: 0px 5px 5px -1px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 0px 5px 5px -1px rgba(0, 0, 0, 0.28);
    box-shadow: 0px 5px 5px -1px rgba(0, 0, 0, 0.28);
}

/*************************post template*******************/
.posts-list {
    height: 100%;
    overflow: auto;
    padding-bottom: 160px;
    box-sizing: border-box;
    padding-top: 3px;
    -webkit-overflow-scrolling: touch;
    /*border-left: 12px solid #2d3238;
    border-right: 12px solid #2d3238;*/
}

.post-buttons {
    position: relative;
    width: 49%;
    display: inline-block;
}

/*.post-likes {
    left: 0px;
}

.post-comment {
    right: 0px;
}*/

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: #fff;
    background-color: transparent;
    border-bottom: 9px solid #fff;
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
    cursor: default;
    margin: auto;
}

.nav.nav-tabs {
    border-bottom: 4px solid #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0px 20px;
    height: 42px;
}


.nav-tabs > li a {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
    height: 42px;
    line-height: 16px;
}



.post-buttons {
    /*position: absolute;*/
}

.post-likes {
    /*left: 0px;*/
    cursor: pointer;
}

.post-comment {
    /*right: -1px;*/
    cursor: pointer;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: #fff;
    background-color: transparent;
    border-bottom: 9px solid #fff;
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
    cursor: default;
    margin: auto;
}

.nav.nav-tabs {
    border-bottom: 4px solid #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0px 20px;
    height: 42px;
}


.nav-tabs > li a {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
    height: 42px;
    line-height: 16px;
}

.post-wrap {
    cursor: pointer;
}

.post-tab {
    background: #fff;
    margin: 20px 7px 22px 7px;
    position: relative;
    box-shadow: #333 0px 1px 3px;
    box-sizing: border-box;
    padding: 0px 12px 12px 12px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
}

.post-tab.staff {
    background-color: #e0f4ff;
    border-top: 5px solid #12426f;
}


/* .author-image img {
    width: 48px;
    height: 48px;
    border-radius: 50px;
    border-style: solid;
    border-width: 1px;
} */

.author-image .author-background-image {
    background-size: 100% 100%;
    margin: auto;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border-radius: 50px;
    border-style: solid;
    /*border-width: 1px;*/
}

figure.author-image {
    position: relative;
    top: -17px;
    display: block;
    width: 48px;
    height: 48px;
    border-radius: 50px;
    border: solid 2px #565c63;
    float: right;
}

.author-image .author-rank-image-zone {
    background-color: white;
    height: 16px;
    width: 16px;
    position: absolute;
    left: -1px;
    bottom: -1px;
    border-radius: 50px;
    margin: auto;
    border: solid 1px #000000;
}

.author-image .author-rank-image {
    height: 14px;
    width: 14px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url("../img/rank1.png");
    /*position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    top: 0px;
    margin: auto;*/
}

.author-image .author-rank-image.author-rank-image-1 {
    background-image: url("../img/rank2.png");
}

.author-image .author-rank-image.author-rank-image-2 {
    background-image: url("../img/rank3.png");
}

.author-image .author-rank-image.author-rank-image-3 {
    background-image: url("../img/rank4.png");
}

.author-image .author-rank-image.author-rank-image-4 {
    background-image: url("../img/rank5.png");
}

span.author-name {
    display: block;
    margin-right: 10px;
    margin-top: 17px;
    font-weight: bold;
    float: right;
    /*line-height: 50px;*/
    font-size: 15px;
}

span.author-date {
    display: block;
    float: left;
    line-height: 50px;
    font-size: 13px;
}

.user-recent-activity-zone span.author-date {
    float: right;
    line-height: 25px;
}

div.post-main-text {
    clear: both;
    /*height: 33px;*/
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 13px;
    line-height: 14px;
    text-align: justify;
    word-wrap: break-word;
    padding-bottom: 1px;
    color: #000000;
}

.post-main-text img {
    width: 80%;
    margin: 5px auto 10px auto;
    display: block;
    border: 0px solid #565c63;
    border-radius: 2px;
}

.post-main-text p {
    clear: both;
    /*height: 33px;*/
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 13px;
    line-height: 14px;
    text-align: justify;
    word-wrap: break-word;
    padding-bottom: 1px;
    color: #000000;
}


/* comment, like buttons*/
.write-comment-zone {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 36px;
    background-color: white;
    line-height: 36px;
}

.post-feedback {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 18px;
    margin-top: 13px;
    font-size: 13px;
    line-height: 18px;
}

.write-comment-btn {
    position: absolute;
    left: 10px;
    top: 3px;
    width: 70px;
    height: 30px;
    border-radius: 15px;
    background-color: #42484e;
    color: white;
    line-height: 27px;
}

.write-comment-box {
    padding-right: 10px;
    height: 100%;
    width: 70%;
    border: 0;
}

.post-comment {
}

.respond-count {
}

/*.icon {
background-image: url('../../img/heart_meme.png');
background-repeat: no-repeat;
background-size: 34px 15px;
background-position-x: -17px;
background-position-y: 1px;
height: 15px;
width: 17px;
display: block;
margin: auto;
position: relative;
right: 0;
left: 0;
margin-top: 1px;
}*/

.post-feedback .icon {
    background-repeat: no-repeat;
    background-position-x: -16px;
    background-position-y: 1px;
    height: 17px;
    width: 19px;
    display: inline-block;
    float: right;
    margin-right: 3px;
    margin-top: 0px;
    background-size: 34px 15px;
}

.like-post .icon {
    background-image: url('../img/heart_talkback.png');
}

.respond-post .icon {
    background-image: url('../img/pencil_talkback.png');
    background-size: 17px 14px;
    background-position-x: initial;
    background-position-y: 2px;
}

.like-post.is-liked .icon {
    background-position-x: 1px;
}


.like-post span:nth-child(2) {
    display: inline-block;
}

.like-count {
}

span.respond-post, span.like-post {
    width: 49%;
    background-color: #565c63;
    display: inline-block;
    float: right;
    margin-left: 1px;
    text-align: center;
    height: 18px;
    color: white;
}

span.is-liked {
    background-color: #31363d;
}

.post-footer {
    position: relative;
    width: 100%;
}

span.respond-count, span.like-count {
    display: inline-block;
    width: 49%;
    background-color: #d4deec;
    color: black;
    text-align: center;
    height: 18px;
}


.comment-balloon {
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 112px;
    background: rgba(40,40,40,1.00);
    border-top: solid 3px rgba(130,128,128,1.00);
    width: 100%;
    display: none;
}

.text-balloon {
    width: 80%;
    outline: none;
    top: 10px;
    display: block;
    resize: none;
    height: 50%;
    border-radius: 10px;
    position: absolute;
    right: 10%;
    border: solid 1px #fff;
}

.balloon-handler {
    width: 45px;
    height: 15px;
    background: #fff;
    position: absolute;
    top: 35px;
    right: 4%;
    border-radius: 0 0 100% 0;
    -webkit-transform: rotateZ(11deg);
    z-index: 0;
}

.plus {
    width: 32px;
    height: 32px;
    background: #ffffff;
    display: inline-block;
    /*float: right;*/
    margin-left: 5px;
    color: #695B5B;
    text-align: center;
    font-weight: bold;
    border-radius: 6px;
    font-size: 2.3em;
    cursor: pointer;
    line-height: 30px;
    position: relative;
    top: 5px;
    background-image: url("../img/plus.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.filePlugin {
    height: 100%;
    width: 100%;
    background-color: #F00;
    position: absolute;
}

.comment-balloon p {
    color: #E4E4E4;
    position: absolute;
    bottom: 10px;
    width: 80px;
    line-height: 30px;
    margin: auto;
    left: 0px;
    right: 0px;
    font-size: 10px;
    letter-spacing: 0.6px;
}

/**********************side-bar**************************8*/

span.sidbar-text {
    display: inline-block;
    width: 89px;
    position: relative;
    right: 0px;
    top: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 13px;
    line-height: 50px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 45px;
    white-space: nowrap;
}


.sidebar .app-name {
    background-color: #D2DCEA;
    height: 98px;
    top: 0px;
    overflow: hidden;
    cursor: pointer;
}

.name-in-header {
    text-align: center;
}

.sidebar h3 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    letter-spacing: 0.7px;
    font-size: 12px;
    line-height: 14px;
    color: #2d2829;
}


.sidebar-logo.user-thumbnail.header-user-logo {
    position: relative;
    display: block;
    height: 60px;
    width: 60px;
    margin: 10px auto 5px auto;
    background-color: #000;
    left: 0;
}

div#mainSidebar {
    padding: 0px;
    width: 154px;
}

.app-name + .scrollable {
    padding-top: 98px;
    background-color: #ffffff;
}

div.list-group {
    top: -2px;
    position: relative;
    background-color: #ffffff;
}

div.scrollable-content.overthrow {
    background-color: #fff;
}

.sidebar-left {
    background: #000;
}

.sidebar a.list-group-item {
    border-bottom: 0px;
    background-color: #ffffff;
    color: #000;
    padding: 0px 7px 0px 7px;
    position: relative;
    height: 48px;
}

/**********************************error popup css******************************************/
.error-popup {
    background-color: #fff;
    z-index: 11;
    top: 50px;
    width: 93%;
    margin: auto;
    height: 88%;
    position: absolute;
    margin-right: auto;
    margin-left: auto;
    right: 0px;
    left: 0px;
    /*overflow-y: scroll;
    -webkit-overflow-scrolling: touch;*/
}

.close-error {
    background-image: url('../../img/small_x_grey.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    display: block;
    width: 22px;
    height: 22px;
    line-height: 15px;
    text-align: center;
    border-radius: 10px;
    font-weight: 500;
    font-size: 1.2em;
    cursor: pointer;
    margin: 10px 7px 0px 0px;
}

.error-title {
    color: red;
    padding-top: 20px;
    text-align: center;
    font-size: 20px;
}

.error-popup-msg {
    font-size: 15px;
    text-align: justify;
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
}

/**********************************comment css******************************************/
.comment-container {
    /* display: flex; */
    /* flex-direction: column; */
    /* width: 100%; */
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background-color: #d4deec;
}

.between-border-comments {
    width: 100%;
    height: 4px;
    border-style: inset;
    background-color: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

.comment-main-post {
    position: relative;
    top: 3px;
    padding: 5px 4px 1px 4px;
    background-color: #ecf8ff;
}

.comments {
    padding-top: 8px;
    /* width: 100%; */
    /* max-height: 70%; */
    /* overflow: auto; */
    /* -webkit-flex: 1 1 auto; */
    /* overflow-y: auto; */
    /* min-height: 0px; */
    background-color: #d4deec;
    padding-right: 4px;
    padding-left: 4px;
}


.color-line {
    background-image: url('../img/image/color_line.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    width: 100%;
    right: 0px;
    height: 4px;
}

.color-line.color-fixed-top {
    position: relative;
}

.color-line.color-line-bottom {
    position: absolute;
    bottom: 0px;
    height: 4px;
}

.spiner-zone {
    text-align: center;
}
/*********** channel css *************************/

.channel-title-zone {
    z-index: 1;
    position: absolute;
    width: 100%;
}

.sub-header {
    -webkit-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.55);
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.55);
}

.sub-header {
    height: 42px;
    position: relative;
    color: white;
    text-align: center;
    line-height: 39px;
    z-index: 1;
    font-weight: bold;
    cursor: pointer;
}

.sub-header.site-sub-header {
    cursor: default;
}

.main-content-wrap {
    padding: 0px 26px;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    top: 0;
    padding-top: 46px;
    box-sizing: border-box;
}

.channel-title {
    text-align: center;
    height: 42px;
    width: 100%;
    line-height: 42px;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.channel-con {
    padding: 0px 10px;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    top: 0px;
    right: 0px;
    padding-top: 46px;
    box-sizing: border-box;
    overflow-x: visible;
}


.polls-layout {
    padding-left: 15px;
    padding-right: 15px;
}

.polls-layout.posts-list .post-wrap {
    box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.4);
}

.legend-wraper {
    background-color: #d4deec;
}

.channel-list {
    height: 100%;
    /*overflow: auto;*/
    padding: 0px 4px;
    position: relative;
    top: 0px;
}

.channel-list .list-tube {
    box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.4);
    top: 0px;
}

.player-contener {
    cursor: pointer;
    position: relative;
    padding: 5px;
    background: #ffffff;
}

.player-contener img {
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
}

iframe.player-contener {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    top: 0px;
}

.channel-play-button {
    background-image: url('/img/play_button.png');
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    height: 30%;
    width: 23%;
    margin: auto;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
}

.player-text {
    background-color: #ffffff;
    padding: 9px 5px;
    height: 47px;
    position: relative;
    top: 0px;
}

.player-text h2 {
    padding: 0px 5px;
    margin-bottom: 3px;
    font-size: 13px;
    color: #000000;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 90%;
    white-space: nowrap;
    font-weight: bold;
}

.player-text p {
    display: inline-block;
    /*  padding: 0px 5px; */
    font-size: 11px;
    color: #000000;
}

.list-tube {
    background: #ffffff;
    margin: 15px 0;
    position: relative;
}

button {
    border: none;
    box-shadow: none;
    border-radius: 6px;
    color: white;
    margin: auto;
    display: block;
}


/*********** poll css *************************/
.polls-layout .text-box {
    background-color: #ffffff;
}

.text-box {
    height: 110px;
    LINE-HEIGHT: 13px;
    padding-right: 14px;
    padding-left: 14px;
}

.image-container {
    cursor: pointer;
    position: relative;
    padding: 7px;
    background-color: #ffffff;
    border-radius: 3px;
}

.polls-container {
    cursor: pointer;
    position: relative;
    background-color: #ffffff;
}

.polls-image {
    height: 172px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    margin: auto;
}

.padd {
    padding-bottom: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    /*white-space: nowrap;*/
    font-size: 17px;
    line-height: 18px;
}

.ellipsis {
    overflow: hidden;
    height: 52px;
    font-size: 12px;
    LINE-HEIGHT: 17px;
    text-align: justify;
}

.ellipsis:before {
    content: "";
    /*float: right;*/
    width: 5px;
    height: 200px;
}

/*.ellipsis > *:first-child {
    float: left;
    width: 100%;
    margin-right: -5px;
}*/

.ellipsis:after {
    content: "\02026";
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    position: relative;
    float: left;
    top: 0px;
    right: 100%;
    width: 3em;
    margin-left: -3em;
    text-align: left;
    @include background(linear-gradient(left, rgba(#fff, 0), #fff 50%, #fff));
}

.pollView-text {
    padding-bottom: 17px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    LINE-HEIGHT: 20px;
    background-color: #ffffff;
    color: #000000;
    /*margin-bottom: 10px;*/
}

.pollView-text {
    text-align: justify;
}

.pollView-image {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 3px;
    height: 150px;
    width: 229px;
}

.pollView-title {
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 20px;
    line-height: 20px;
    background-color: #ffffff;
    color: #da4f00;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.imageView-container {
    position: relative;
    height: 156px;
    width: 235px;
    margin-right: 56px;
    margin-left: 30px;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 3px;
    background-color: #42484e;
    border-radius: 3px;
}

.white-line {
    width: 100%;
    height: 4px;
    background-color: #ffffff;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.white-line.thanks-white {
    position: relative;
    top: 0px;
}

.imageView-background {
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    background-color: #ffffff;
}

.pollView-container {
    overflow: auto;
    height: 100%;
    overflow: auto;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    padding-top: 40px;
    top: 2px;
    padding-bottom: 2px;
    background-color: #d4deec;
}

.gray-line {
    background-color: #565c63;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    width: 100%;
    right: 0px;
    height: 4px;
}

.legend-container {
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 42px;
}

.legend-color {
    width: 15px;
    height: 15px;
    display: inline-block;
    position: relative;
    top: 2px;
    vertical-align: top;
}

.legend-content {
    width: 90%;
    height: 15px;
    display: inline-block;
    color: #000000;
    padding-right: 15px;
    margin-bottom: 10px;
}

.legend-image {
    height: 158px;
    width: 235px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    padding-top: 10px;
    margin: auto;
}

.legend-container .legend-image {
    margin: 5px 0;
}

.optionToVote-container {
    width: 263px;
    height: 45px;
    line-height: 21px;
    margin-top: 7px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    /*padding-top: 15px;*/
    cursor: pointer;
    -webkit-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.3);
    overflow: hidden;
}

.vote-error {
    color: #fa0001;
    font-size: 10px;
    padding-right: 30px;
    padding-bottom: 3px;
    padding-bottom: 3px;
    margin-top: 8px;
}

.button {
    border-radius: 7px;
    width: 103px;
    text-align: center;
    height: 36px;
    line-height: 36px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
}

.optionToVote-image {
    /*background-color: #42484e;
    padding: 3px;*/
    height: 158px;
    width: 235px;
    margin: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    border: solid 2px #42484e;
}

.tab-content {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    height: 100%;
}


.add-file-text {
    color: #818181;
    text-align: right;
    border-radius: 10px;
    background: white;
    height: 32px;
    line-height: 32px;
    text-indent: 20px;
    font-size: 15px;
    margin-right: 43px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.file-text {
    color: #695B5B;
    text-align: right;
    border-radius: 10px;
    background: white;
    height: 32px;
    line-height: 32px;
    text-indent: 20px;
    font-size: 15px;
    margin-right: 50px;
}

.add-file-error {
    padding-top: 7px;
    font-size: 0.7em;
    text-align: right;
    margin-right: 50px;
}

.add-file {
    margin-top: 12px;
    height: 44px;
    position: relative;
}

::-webkit-input-placeholder {
    color: #999;
}

:-moz-placeholder {
    color: #999;
}

::-moz-placeholder {
    color: #999;
}

:-ms-input-placeholder {
    color: #999;
}


/*******************sub-header*************************/

.sub-header.special-sub-header {
    position: absolute;
    width: 100%;
    bottom: 0px;
    z-index: 6;
    height: 44px;
    background-color: #ffffff;
    -webkit-box-shadow: 0px -4px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -4px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px -3px 3px 0px rgba(0,0,0,0.3);
}

.inner-special-header {
    width: 110px;
    margin: 5px auto 0px auto;
    border-radius: 7px;
    height: 32px;
    font-size: 15px;
    text-align: center;
    line-height: 32px;
    letter-spacing: 0.7px;
    -webkit-box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.42);
    -moz-box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.42);
    box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.42);
}
/******post***/
.read-the-comments {
    font-size: 12px;
    padding-top: 7px;
    margin-bottom: -2px;
    width: 100px;
    color: #888888;
}


/********************************points******************************/

.brother-types {
    display: inline-block;
    position: relative;
    height: 52px;
    width: 36px;
    text-align: center;
    font-size: 10px;
}

.brother-types-img {
    width: 36px;
}

.brother-types-text {
}

.my-score-bord-not-login {
    padding-bottom: 80px;
}

.points-wrapper {
    padding: 14px 14px 0px 14px;
    position: relative;
}

.brother-types:last-child {
    margin-left: 0px !important;
}

.mid-roller {
    margin-left: 1px;
    background-color: #ffffff;
    height: 15px;
    display: inline-block;
}

.side-roller {
    background-color: #ffffff;
    height: 15px;
    width: 22px;
    display: inline-block;
}

.side-roller.full, .mid-roller.full {
    background-color: #12426F;
}

.left-roller {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 9px;
}

.your-stat {
    text-align: center;
    font-size: 15px;
    margin-top: 18px;
    margin-bottom: 17px;
}

.right-roller {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 9px;
}

.points-icons {
    position: relative;
    padding: 0px 6px;
    margin-bottom: 7px;
    margin-top: 17px;
}

.points-whote-line {
    width: 100%;
    height: 4px;
    background-color: #ffffff;
    margin-bottom: 8px;
}

.my-scores {
    height: 50px;
    width: 100%;
    line-height: 50px;
    font-size: 15px;
    padding: 0px 14px;
    text-align: center;
    background-color: #ffffff;
    margin-bottom: 14px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
}

.score-arrow {
    width: 18px;
    height: 22px;
    background-size: 100% 100%;
    position: absolute;
    top: 6px;
    left: 15px;
    background-image: url('../img/points_arrow.png');
    z-index: 20;
}

.roller-wrapper {
    position: relative;
}


.big-score-wrap {
    background-color: #fff;
    margin-bottom: 18px;
    padding: 12px 12px 4px 12px;
    position: relative;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
}

.increase-num {
    position: absolute;
    left: 33px;
    font-size: 40px;
    margin: auto;
    top: 0px;
    bottom: 0px;
    height: 40px;
}

.small-score-wrap {
    position: relative;
    margin-bottom: 8px;
}

img.brother-types-img {
    display: inline-block;
    width: 27px;
    margin-left: 3px;
}

.score-text {
    display: inline-block;
    vertical-align: top;
    line-height: 27px;
    font-size: 14px;
}

.tab-content.tab-points {
    height: auto;
}

.how-get-points {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 16px;
    margin-top: 9px;
}

.glyphicon {
    background-image: url(../img/arrow_calendar.png);
    width: 26px;
    height: 13px;
    background-size: 100%;
}

.glyphicon-chevron-up:before, .glyphicon-chevron-down:before {
    content: " ";
}

.glyphicon-chevron-down {
    -webkit-transform: rotateZ(180deg);
}


.end-load-more {
    height: 25px;
    position: relative;
    margin-right: 7px;
    margin-left: 7px;
}

.end-load-more img {
    display: block;
    height: 25px;
    width: 25px;
    margin: auto;
    position: relative;
    z-index: 2;
}

.loadmore-endline {
    width: 100%;
    position: absolute;
    height: 2px;
    background-color: gray;
    top: 0px;
    bottom: 0px;
    margin: auto;
    z-index: 0;
}



/**************************loader********************/

#floatingCirclesG {
    position: relative;
    width: 128px;
    height: 128px;
    -moz-transform: scale(0.6);
    -webkit-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
    transform: scale(0.6);
    margin: auto;
}

.f_circleG {
    position: absolute;
    background-color: #124270;
    height: 23px;
    width: 23px;
    -moz-border-radius: 12px;
    -moz-animation-name: f_fadeG;
    -moz-animation-duration: 1.04s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: linear;
    -webkit-border-radius: 12px;
    -webkit-animation-name: f_fadeG;
    -webkit-animation-duration: 1.04s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: linear;
    -ms-border-radius: 12px;
    -ms-animation-name: f_fadeG;
    -ms-animation-duration: 1.04s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-direction: linear;
    -o-border-radius: 12px;
    -o-animation-name: f_fadeG;
    -o-animation-duration: 1.04s;
    -o-animation-iteration-count: infinite;
    -o-animation-direction: linear;
    border-radius: 12px;
    animation-name: f_fadeG;
    animation-duration: 1.04s;
    animation-iteration-count: infinite;
    animation-direction: linear;
}

#frotateG_01 {
    left: 0;
    top: 52px;
    -moz-animation-delay: 0.39s;
    -webkit-animation-delay: 0.39s;
    -ms-animation-delay: 0.39s;
    -o-animation-delay: 0.39s;
    animation-delay: 0.39s;
}

#frotateG_02 {
    left: 15px;
    top: 15px;
    -moz-animation-delay: 0.52s;
    -webkit-animation-delay: 0.52s;
    -ms-animation-delay: 0.52s;
    -o-animation-delay: 0.52s;
    animation-delay: 0.52s;
}

#frotateG_03 {
    left: 52px;
    top: 0;
    -moz-animation-delay: 0.65s;
    -webkit-animation-delay: 0.65s;
    -ms-animation-delay: 0.65s;
    -o-animation-delay: 0.65s;
    animation-delay: 0.65s;
}

#frotateG_04 {
    right: 15px;
    top: 15px;
    -moz-animation-delay: 0.78s;
    -webkit-animation-delay: 0.78s;
    -ms-animation-delay: 0.78s;
    -o-animation-delay: 0.78s;
    animation-delay: 0.78s;
}

#frotateG_05 {
    right: 0;
    top: 52px;
    -moz-animation-delay: 0.91s;
    -webkit-animation-delay: 0.91s;
    -ms-animation-delay: 0.91s;
    -o-animation-delay: 0.91s;
    animation-delay: 0.91s;
}

#frotateG_06 {
    right: 15px;
    bottom: 15px;
    -moz-animation-delay: 1.04s;
    -webkit-animation-delay: 1.04s;
    -ms-animation-delay: 1.04s;
    -o-animation-delay: 1.04s;
    animation-delay: 1.04s;
}

#frotateG_07 {
    left: 52px;
    bottom: 0;
    -moz-animation-delay: 1.17s;
    -webkit-animation-delay: 1.17s;
    -ms-animation-delay: 1.17s;
    -o-animation-delay: 1.17s;
    animation-delay: 1.17s;
}

#frotateG_08 {
    left: 15px;
    bottom: 15px;
    -moz-animation-delay: 1.3s;
    -webkit-animation-delay: 1.3s;
    -ms-animation-delay: 1.3s;
    -o-animation-delay: 1.3s;
    animation-delay: 1.3s;
}

@-moz-keyframes f_fadeG {
    0% {
        background-color: #FFFFFF;
    }

    100% {
        background-color: #124270;
    }
}

@-webkit-keyframes f_fadeG {
    0% {
        background-color: #FFFFFF;
    }

    100% {
        background-color: #124270;
    }
}

@-ms-keyframes f_fadeG {
    0% {
        background-color: #FFFFFF;
    }

    100% {
        background-color: #124270;
    }
}

@-o-keyframes f_fadeG{
0%{
background-color:#FFFFFF}

100%{
background-color:#124270}

}

@keyframes f_fadeG {
    0% {
        background-color: #FFFFFF;
    }

    100% {
        background-color: #124270;
    }
}
