
.tab-pane {
    position: relative;
    overflow-x: hidden;
}

.tab-content {
    overflow-y: scroll;
    height: 100%;
    position: relative;
    -webkit-overflow-scrolling: touch;
}

.posts-list {
    margin-top: 9px;
    position: relative;
}

.post-title {
    color: rgb(0, 109, 190);
    box-sizing: border-box;
    padding-right: 12px;
    display: inline-block;
    line-height: 19px;
    font-size: 15px;
    max-height: 45px;
    padding-top: 7px;
    overflow: hidden;
    font-weight: bold;
    position: absolute;
    bottom: 17px;
    width: 66%;
    right: 35px;
}

.sub-header {
    height: 42px;
    position: relative;
    /*background-color: #006dbe;*/
    color: white;
    text-align: center;
    line-height: 42px;
    z-index: 1;
}

.article-content {
    color: white;
    padding-bottom: 10px;
    padding-top: 36px;
    height: 70%;
}

.article-content-wrap {
    /*padding: 0px 26px;
width: 100%;
height: 100%;
overflow-y: scroll;
position: absolute;
top: 0;
padding-top: 46px;
box-sizing: border-box;*/
    background: #252525;
}

.article-content-window {
    position: absolute;
    width: 100%;
    top: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    height: 100%;
}

.article-content .title-field {
    height: 32px;
    width: 100%;
    background-color: white;
    display: block;
    border-radius: 10px;
    padding-right: 10px;
    position: relative;
    border: 0;
    /*line-height: 32px;*/
    padding-top: 7px;
}


.file-add-container {
    /*color: white;
    margin-top: 15px;*/
    height: 80px;
}

.file-instru {
    font-size: 1em;
    text-align: center;
    margin-top: 18px;
    height: 16px;
}


/* .add-file-text-back {
    display: inline-block;
    text-align: right;
    border-radius: 10px;
    font-size: 1.2em;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    padding-right: 41px;
    width: 100%;
    position: absolute;
    right: 0;
    top: 5px;
} */

/* .add-file-text-back input[type="file"]::-webkit-file-upload-button {
    opacity: 0;
} */

.article-text {
    width: 100%;
    background-color: white;
    display: block;
    border-radius: 10px;
    height: 100%;
    min-height: 160px;
    margin-top: 12px;
}

.input-article-text {
}

.article-text.input-article-text {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    min-height: 135px;
    border-bottom: 0px;
}



.input-article-span {
    color: #bcccce;
    position: relative;
    bottom: 0px;
    display: block;
    padding-left: 10px;
    padding-top: 2px;
    width: 100%;
    height: 26px;
    text-align: left;
    background-color: hsl(0, 100%, 100%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 0px;
    border-color: rgb(169, 169, 169);
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-left: 1px solid;
}

.button {
    border-radius: 7px;
    width: 35%;
    text-align: center;
    height: 36px;
    line-height: 36px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}


.article-content input[type="text"], .article-content textarea {
    color: black;
}

.post-tab {
    /*height: 152px; yishai diplyed the height becuase you do not know if there will be an image*/
    padding: 11px;
    margin: 0px 14px 12px 14px;
}

.post-tab.author-details-wrap {
    height: 61px;
    margin: 0px 14px 14px 14px;
}

.author-details-wrap span.author-name {
    position: absolute;
    margin-top: 25px;
    font-size: 14px;
    font-weight: bold;
    /* padding: 9px; */
    width: 100%;
    text-align: right;
    /* overflow: hidden; */
    text-overflow: ellipsis;
    overflow: hidden;
    box-sizing: border-box;
    padding-right: 50px;
    line-height: 14px;
    font-size: 14px;
}

.author-details-wrap .post-details {
    height: 42px;
}

.post-details {
    position: relative;
    min-height: 57px;
    ;
}

.author-wrap {
    width: 40px;
    float: right;
    height: 40px;
    position: relative;
    z-index: 10;
}

figure.author-image {
    top: 0;
    width: 40px;
    height: 40px;
    border-radius: 40px;
}

.author-image img {
    width: 38px;
    height: 38px;
    position: relative;
}

span.author-date {
    position: absolute;
    bottom: 0;
    left: 0;
    line-height: 20px;
    font-size: 12px;
}

span.author-name {
    line-height: 13px;
    font-size: 12px;
    margin-right: 0;
    text-align: right;
    text-indent: 2px;
    width: 120px;
    font-weight: normal;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


.info-img {
    position: relative;
    top: -3px;
}

div.post-main-text {
    font-size: 12px;
    height: 49px;
    overflow: hidden;
    line-height: 12px;
    margin-top: 5px;
}

.post-feedback {
    margin-top: 0;
}

.post-footer {
    margin-top: 6px;
}


/**************single article*****************/
.single-article {
}


.single-article .post-tab {
    height: auto;
    margin: 0;
    width: 100%;
}

.single-article .post-title {
    padding-right: 20px;
}

.single-article .post-main-text {
    height: auto;
    padding: 0 17px;
}

.single-article .post-main-text img {
    width: 87%;
    margin: 5px auto 13px auto;
}

.single-article .post-details {
    min-height: 63px;
}


.single-article .post-footer {
    position: relative;
    width: 302px;
    max-width: 302px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.single-article .post-feedback {
    margin-top: 0;
    position: relative;
    margin: 0 17px;
}



/**********single article's comments*********************/
.comments .post-tab {
    margin: 0px 14px 17px 14px;
    height: auto;
}

.comments div.post-main-text {
    height: auto;
    margin: 0;
    top: -15px;
    position: relative;
}

.comments {
    padding-top: 23px;
    background-color: #808080;
}

.comments figure.author-image {
    top: -21px;
}

.comments .author-name {
    font-weight: bold;
    font-size: 12px;
    width: 100%;
    position: absolute;
    text-align: right;
    box-sizing: border-box;
    padding-right: 50px;
}

.upload {
    color: #695B5B;
    height: 32px;
    font-size: 15px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}



/******calendar*******8*/

.small-input-wrap {
    width: 100%;
    position: relative;
    height: 44px;
    box-sizing: border-box;
    margin-top: 12px;
    line-height: 28px;
    background-position: 79% 4px;
    background-repeat: no-repeat;
    background-size: 22px;
    padding-right: 80px;
}

.small-input-wrap.bottom-input-wrap {
    margin-top: 0px;
}

.side-small-input {
    position: absolute;
    right: 0px;
    background-repeat: no-repeat;
    background-size: 22px;
    width: 80px;
    background-position: 8px 4px;
}

.write-calendar-event .article-content .small-input-wrap input {
    width: 100%;
    float: left;
    padding-top: 2px;
    line-height: 19px;
}

.side-small-input-one {
    background-image: url("../../img/calendar_icon.png");
}

.side-small-input-tow {
    margin-top: 0px;
    background-image: url("../../img/clock.png");
}

.title-field.requieredError {
    border: 1px solid hsl(0, 100%, 50%);
}



/*pop up calendar*/

.input-group-btn {
    display: none;
}

.datepicker-popup-calendar ul.dropdown-menu table thead {
    color: black !important;
}

.datepicker-popup-calendar ul.dropdown-menu table thead tr:first-child {
    position: relative;
    height: 30px;
}

.datepicker-popup-calendar ul.dropdown-menu table thead tr:first-child th:first-child {
    position: absolute;
    z-index: 1;
}

.datepicker-popup-calendar ul.dropdown-menu table thead tr:first-child th:first-child button {
    height: 30px;
    width: 30px;
    border-left: 0px;
    background-image: url(../../img/arrow_calendar.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #2295c5;
}

.datepicker-popup-calendar ul.dropdown-menu table thead tr:first-child th:nth-child(2) {
    position: absolute;
    width: 100%;
}


.datepicker-popup-calendar ul.dropdown-menu table thead tr:first-child th:nth-child(2) button {
    background-color: #2295c5;
    color: white;
    font-weight: bold;
}

.datepicker-popup-calendar ul.dropdown-menu table thead tr:first-child th:nth-child(3) {
    position: absolute;
    left: 0px;
    top: 0px;
}

.datepicker-popup-calendar ul.dropdown-menu table thead tr:first-child th:nth-child(3) button {
    position: absolute;
    height: 28px;
    top: 6px;
    width: 30px;
    left: 0px;
    border: 0px;
    background-color: #2295c5;
    background-image: url(../../img/arrow_calendar.png);
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

.datepicker-popup-calendar ul.dropdown-menu table {
    margin-left: 15px;
}


.datepicker-popup-calendar ul.dropdown-menu li:nth-child(2) span.btn-group:first-child {
    float: left;
}

.datepicker-popup-calendar ul.dropdown-menu li:nth-child(2) span.btn-group:first-child button:first-child {
    margin-right: 51px;
}
