<link rel="stylesheet" type="text/css" href="./components/article/article.css" />

<div class="sub-header" id="feature-header" data-ng-click="writePost()">
    <div data-ng-style="{'background-color': '#006dbe'}" style="background-color: rgb(0, 109, 190);">
    כתוב מאמר
    </div>
    <div class="color-line color-line-bottom "></div>
</div>

<ul class="nav nav-tabs">
    <li style="width: 33%"><a href="#Tab1" toggle="on" parent-active-class="active" data-ng-click="getPostsByAll()">הכל</a></li>
    <li style="width: 33%"><a href="#Tab2" toggle="on" parent-active-class="active" data-ng-click="getAuthors()">הכותבים</a></li>
    <li style="width: 33%"><a href="#Tab3" toggle="on" parent-active-class="active" data-ng-click="getPostsByViews()">הנצפים</a></li>
</ul>

<div class="tab-content" scroller loading-method="loadMore()"><!--ignore this section- do not delete-->
    <div class="tab-pane" toggleable active-class="active" default="active" id="Tab1" exclusion-group="myTabs">

        <div class="posts-list" ><!--scroller loading-method="loadMore()"-->
            <post data-ng-repeat="post in posts()" data-post-type="article"></post>
            <div class="spiner-zone" data-ng-show="showSpiner">
                <div class="fa fa-spinner fa-spin"></div>
            </div>
        </div>
    </div>


    <div class="tab-pane" toggleable active-class="active" id="Tab2" exclusion-group="myTabs">
        <div class="posts-list" scroller loading-method="loadMore()">
            <post data-ng-repeat="post in posts()" data-post-type="author"></post>
            <div class="spiner-zone" data-ng-show="showSpiner">
                <div class="fa fa-spinner fa-spin"></div>
            </div>
        </div>

    </div>
    <div class="tab-pane" toggleable active-class="active" id="Tab3" exclusion-group="myTabs">
        <div class="posts-list" scroller loading-method="loadMore()">
            <post data-ng-repeat="post in posts()" data-post-type="article"></post>
            <div class="spiner-zone" data-ng-show="showSpiner">
                <div class="fa fa-spinner fa-spin"></div>
            </div>
        </div>

    </div>
</div>

    <!--<div class="posts-list" scroller loading-method="loadMore()">
                <post data-ng-repeat="post in posts()" data-post-type="article" data-ng-show="post.postType='article'"></post>
                <post data-ng-repeat="post in posts()" data-post-type="author" data-ng-show="post.postType='author'"></post>
                <div class="spiner-zone" data-ng-show="showSpiner">
                    <div class="fa fa-spinner fa-spin"></div>
                </div>
            </div>-->
