<link rel="stylesheet" type="text/css" href="./components/article/article.css" />

<div class="scroll-main-window" scroller loading-method="loadMore()">


    <author-header data-ng-repeat="post in [post()]"></author-header>

    <post data-post-type="article" class="single-article" data-ng-repeat="post in [post()]"></post>

    <section class="comments">
        <post data-ng-repeat="post in comments()" data-post-type="comment" data-ng-init="showCommentButton=false"></post>
        <div class="spiner-zone" data-ng-show="showSpiner()">
            <div class="fa fa-spinner fa-spin"></div>
        </div>
    </section>
</div>
