<!-- <link rel="stylesheet" type="text/css" href="./components/article/article.css" /> -->
<!--<feature-header></feature-header>-->
<!-- 


<div class="sub-header">
    <div data-ng-style="{'background-color': '{{featureDetails.featureColor}}'}">
    המאמר שלי
    </div>
    <div class="color-line color-line-bottom "></div>
</div>

<div class="article-content-wrap main-content-wrap" data-ng-controller="article">
    
     <div class="article-content">
        <input type="text" class="title-field" placeholder="כותרת" data-ng-model="articleData.post.title" />
        <div class="file-add-container">
                <div class="file-instru">ניתן לצרף את המאמר מתוך קובץ:</div>
            <div class="add-file"  data-ng-click="selectFile()">
                <div class="plus">+</div>
                <div class="add-file-text-back">
                    <div class="add-file-text">צרף קובץ</div>
                    <div class="add-file-error">הודעת שגיאה: הקובץ חייב להיות קטן מ {{fileMax}}MB</div>
                </div>
            
            </div>
        </div>
        <div class="file-instru">או כתבו את המאמר ישירות כאן:</div>
		<div style="position:relative;height:100%;background-color: hsl(0, 100%, 100%);border-radius: 10px;">
			<textarea class="article-text" data-ng-model="articleData.post.content">
			</textarea>
			<span style='color:#bcccce;position:absolute;bottom:4px;left:4px;background-color:hsl(0, 100%, 100%);border-radius:10px'>[{{articleData.post.content.length}} תוים]
			</span>
		</div>
			
        <div class="add-file"  >
           <div class="plus" >+</div>
            <div class="add-file-text-back" >
				 
                <input type="file" data-ng-model='input' data-ng-submit='aler()'  class="add-file-text" placeholder='צרף תמונה' id="postImg" style='opacity:1;position: relative;'>
				</input>
				 <div class="add-file-error">הודעת שגיאה: הקובץ חייב להיות קטן מ {{imageMax}}MB</div>
            </div>

        </div>
		
		 <img ng-src="{{postImg}}" style='margin: 0px auto 20px auto;display: block' data-ng-show='postImg' >
		
        <div class="button" data-ng-click="sendArticle()"  data-ng-style="{'background-color': '{{featureDetails.featureColor}}'}">שלח
		</div>
   </div>
        

</div>
 -->