<link rel="stylesheet" type="text/css" href="./components/article/article.css" />
<!-- sub header: כתיבת טקסט,סקר -->

<div class="sub-header">
		<div data-ng-style="{'background-color': '{{featureColor}}'}">
			{{headerText}}
		</div>
		<div class="color-line color-line-bottom "></div>
	</div>

<div class="article-content-wrap main-content-wrap" >
    
	
    <div class="article-content">
		
		<!-- article title-->
        <input data-ng-show='postType=="article"' type="text" class="title-field" placeholder="כותרת" data-ng-model="postData.post.title" />
        
		<!-- article add text file-->
		<div data-ng-show='postType=="article"' class="file-add-container">
            <div class="file-instru">ניתן לצרף את המאמר מתוך קובץ:</div>
            <div class="add-file">         
				<div class="plus" style='position: absolute;top: 0;cursor: pointer;'>
					+
					<input type="file" data-upload='txt' style='position: absolute;top: 0;'>
					</input>
				</div>
				<div class='add-file-text' >{{textFileText}}</div>
				<div  data-ng-show="toLargTextFile==true" class="add-file-error">הודעת שגיאה: הקובץ חייב להיות קטן מ {{textFileMax}}MB</div> 
            </div>
			
        </div>
		
		<!-- article instructions-->
        <div data-ng-show='postType=="article"' class="file-instru">או כתבו את המאמר ישירות כאן:</div>
		
		<!-- post main text area-->
		<div style="position:relative;border-radius: 10px;">
			
			<textarea  data-ng-hide='postType=="article"' char-limit='{{max}}'  line-limit='{{maxLine}}'  class="article-text" placeholder="כתוב טקסט" data-ng-model="postData.post.content" style='padding: 10px 10px 25px 10px;'>
			</textarea >
			<span data-ng-hide='postType=="article"' style='color: #bcccce;position: absolute;bottom: 0px;padding-left: 10px;width: 99%;height: 24px;text-align: left;background-color: hsl(0, 100%, 100%);border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;'>[{{postData.post.content.length}}/{{max}}]</span>
			
			<textarea  data-ng-show='postType=="article"' class="article-text" placeholder="כתוב טקסט" data-ng-model="postData.post.content" style='padding: 10px 10px 25px 10px;'>
			</textarea >
			<span data-ng-show='postType=="article"' style='color: #bcccce;position: absolute;bottom: 0px;padding-left: 10px;width: 99%;height: 24px;text-align: left;background-color: hsl(0, 100%, 100%);border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;'>[{{postData.post.content.length}} תוים]
			</span>
			
			
		</div>
		
		
		<!-- post add img area-->
       <!--  <div class="add-file"  >
           <div class="plus" >+</div>
            <div class="add-file-text-back" >
                <input type="file" data-upload class="add-file-text"  style='opacity:1;position:relative;'>
				</input>
				<div data-ng-show="toLargImage==true" class="add-file-error">הודעת שגיאה: הקובץ חייב להיות קטן מ {{imageMax}}MB</div> 
            </div>
        </div> -->
		
		 <div class="add-file">         
				<div class="plus" style='position: absolute;top: 0;cursor: pointer;'>
					+
					<input type="file" data-upload='img' style='position: absolute;top: 0;'>
					</input>
				</div>
				<div class='add-file-text' >{{imgFileText}}</div>
				<div  data-ng-show="toLargTextFile==true" class="add-file-error">הודעת שגיאה: הקובץ חייב להיות קטן מ {{imageMax}}MB</div> 
            </div>
		
		<!-- post add img preview-->
		<img  data-ng-show="toLargImage==false" ng-src="{{postImg}}" style='margin: 0px auto 20px auto;display: block'  >
		
		
		<!-- post send button-->
        <div class="button" data-ng-click="sendPost()"  data-ng-style="{'background-color': '{{featureColor}}'}">שלח
		</div>
   </div>
        

</div>

