<div class="list-tube">
    <delete-post data-ng-if="isAdmin"></delete-post>
    <div class="polls-container" ng-click="userClicked($index);">
        <div class="image-container">
            <div class="polls-image" style="background-image: url('{{domain}}{{post.img}}')"></div>
        </div>
    </div>
    <div class="text-box player-text" ng-click="userClicked($index);">
        <h1 class="padd" data-ng-style="{'color': '{{featureDetails.featureColor}}', 'font-weight': 'bold'}" once-text='post.title | limitTo:55'><!-- {{post.title | limitTo:55}} --><span data-ng-if="55 < post.title.length" class='event-3points'>...</span></h1>
        <h1 class="ellipsis" data-ng-style="{'color': '#000000'}" once-text='post.content | limitTo:140'>
            <!-- {{post.content | limitTo:140 }} --><span data-ng-if="140 < post.content.length" class='event-3points'>...</span> </h1>
    </div>
</div>