<div class="post-tab" data-post="{{post._id}}" data-post-type="{{post.postType}}">
    <figure class="author-image" data-ng-show="showAuthorImage!=false" data-ng-click="userClicked(post._author._id);$event.stopPropagation();">
		<div class="author-background-image" style="background-image:url('{{post._author.data.img.RelativePosition? domain+post._author.data.img.url : post._author.data.img.url}}')"></div>
        <div class="author-rank-image-zone">
            <div class="author-rank-image"></div>
        </div>
    </figure>
    <span class="author-name" data-ng-show="showAuthorName!=false" data-author="{{post._author}}" data-ng-click="userClicked(post._author._id);$event.stopPropagation();">{{post._author.data.firstName}} {{post._author.data.lastName}}</span>
    <span class="author-date" data-ng-show="showCommentDate!=false">{{post.timestamp | date : 'dd.MM.yyyy'}}</span>

    <div class="post-title" data-ng-show="showCommentTitle==true">{{post.title}}</div>

    <div class="post-main-text">
        <img data-ng-src="{{domain}}{{post.img}}" alt="post-pic" data-ng-show="post.img!=='' && post.img!==undefined">
        {{post.content}}
    </div>

    <div class="post-footer">
        <div class="post-feedback">
            <comment data-postid="{{post._id}}" data-ng-show="{{showCommentButton!=false}}"></comment>
            
            <like  data-ng-show="showLikeButton!=false"></like>
            
        </div>
    </div>

</div>
