<link rel="stylesheet" type="text/css" href="./components/talkback/talkback.css" />

<div class="sub-header" id="feature-header" data-ng-click="writePost()">
    <div data-ng-style="{'background-color':featureDetails.featureColor}">
    כתוב פוסט
    </div>
    <div class="color-line color-line-bottom "></div>
</div>

<ul class="nav nav-tabs" ><!--data-ng-style="{'background-color':featureDetails.featureColor}"-->
    <li style="width: 33%"><a href="#Tab1" toggle="on" parent-active-class="active" data-ng-click="getPostsByAll()">הכל</a></li>
    <li style="width: 33%"><a href="#Tab2" toggle="on" parent-active-class="active" data-ng-click="getPostsByFavorite()">אהובים</a></li>
    <li style="width: 33%"><a href="#Tab3" toggle="on" parent-active-class="active" data-ng-click="getPostsByComments()">מדוברים</a></li>
</ul>


<div class="tab-content" data-ng-hide="true"><!--ignore this section- do not delete-->
    <div class="tab-pane" toggleable active-class="active" default="active" id="Tab1" exclusion-group="myTabs"></div>
    <div class="tab-pane" toggleable active-class="active" id="Tab2" exclusion-group="myTabs"></div>
    <div class="tab-pane" toggleable active-class="active" id="Tab3" exclusion-group="myTabs"></div>
</div>

 <!--<div class="color-line color-fixed-top"></div>-->

<div class="posts-list" scroller loading-method="loadMore()">
    <post data-ng-repeat="post in posts()" data-post-type="talkback"></post>
    <div class="spiner-zone" data-ng-show="showSpiner()">
        <div class="fa fa-spinner fa-spin"></div>
    </div>

</div>


<!--<div>{{postId}}</div>-->
<div class="write-comment-zone" data-ng-show="showInput">
    <input type="text" class="write-comment-box" placeholder="הזן טקסט כאן" data-ng-model="commentText">
    <input type="button" class="write-comment-btn" value="שלח &#9664;" data-ng-click="sendComment()">
</div>
<div class="comment-balloon" data-ng-show="showInput==false">
    <span class="balloon-handler"></span>
    <textarea class="text-balloon">
    </textarea>

    <p><span class="plus" data-ng-click="updatePosts()">+</span> צרף תמונה</p>

</div>
