<link rel="stylesheet" media="screen and (min-width: 900px)" type="text/css" href="{{siteOrigin}}components/comments/comments.css" />

<!--<author-header data-ng-show="{{post.postType=='article'}}"></author-header>-->
<div class="comment-container" scroller loading-method="loadMore()">
    <section class="comment-main-post">
        <post data-post-type="talkback" data-ng-repeat="post in [post()]"></post>
    </section>
    <div class="between-border-comments"></div>
    <section class="comments">
        <post data-ng-repeat="post in comments()" data-post-type="comment" data-ng-init="showCommentButton=false"></post>
        <div class="spiner-zone" data-ng-show="showSpiner()">
            <div class="loader"></div>
        </div>
    </section>
</div>