

<ul class="nav nav-tabs" style="position: relative; z-index: 3; background-color:{{featureDetails.featureColor}} ">
    <!--data-ng-style="{'background-color':featureDetails.featureColor}"-->
    <li style="width: 50%"><a href="#Tab1" toggle="on" parent-active-class="active" data-ng-click="showPart('1')">הניקוד שלי</a></li>
    <li style="width: 50%"><a href="#Tab2" toggle="on" parent-active-class="active" data-ng-click="showPart('2')">לוח הניקוד</a></li>
</ul>

<div class="tab-content tab-points"><!--ignore this section- do not delete-->
    <div class="tab-pane" toggleable active-class="active" default="active" id="Tab1" exclusion-group="myTabs"></div>
    <div class="tab-pane" toggleable active-class="active" id="Tab2" exclusion-group="myTabs"></div>
</div>
<div style="height: 100%;top: -41px;padding-top: 41px;overflow-y: scroll;position: relative;z-index: 1;">
    <div data-ng-show="myScoreNow">
        <div class="points-wrapper">
            <div class="points-icons">
                <div data-ng-repeat="feature in featuresList" class="brother-types" style="margin-left: {{marg}}px;">
                    <img class="brother-types-img" data-once-src="feature.featureLogo" alt="alt">
                    <span class="brother-types-text" data-once-text="feature.featureName">
                   <!--  {{feature.featureName}} -->
                    </span>
                </div>
            </div>
            <div class="roller-wrapper">
                <span class="side-roller right-roller" data-ng-class="{'full': level >= 4}"></span>
                <span class="mid-roller" data-ng-class="{'full': level >= 4}" style="width: {{margTwo}}px;"></span>
                <span class="mid-roller" data-ng-class="{'full': level >= 3}" style="width: {{margTwo}}px;"></span>
                <span class="mid-roller" data-ng-class="{'full': level >= 2}" style="width: {{margTwo}}px;"></span>
                <span class="mid-roller" data-ng-class="{'full': level >= 1}" style="width: {{margTwo}}px;"></span>
                <span class="side-roller left-roller full"></span>
                <div class="score-arrow" style="left: {{(margTwo+5) * level + 22 - 6}}px;"></div>
            </div>
            <div class="your-stat">דרגתך : {{staus}}</div>
        </div>
        <div class="points-whote-line"></div>
        <div class="points-wrapper">
            <div class="my-scores">הניקוד המצטבר שלי: {{score}}</div>
            <div class="my-scores">ניקוד נדרש עד הדרגה הבאה: {{next}}</div>
        </div>
    </div>
    <div data-ng-show="myScoreBord" data-ng-class="{'my-score-bord-not-login': notLogin}">
       
        <div class="points-wrapper">
             <div class="how-get-points">כיצד מקבלים ניקוד</div>
            <div data-ng-repeat="feature in scoredetailes" class="big-score-wrap" style="">
                <div class="increase-num" data-once-text="feature.num+'+'"><!-- {{feature.num}}+ --></div>
                <div data-ng-repeat="tell in feature.items" class="small-score-wrap">
                    <img class="brother-types-img" class="score-image" data-once-src="tell.logo" alt="alt">
                    <div class="score-text" data-once-text="tell.text"><!-- {{tell.text}} --></div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="sub-header  special-sub-header" id="feature-header" data-ng-show="notLogin" style="height: 84px;">
    <div data-once-style="{'color':featureDetails.featureColor}">על מנת לצבור ניקוד הצטרף לאחליקציה</div>
    <div class="inner-special-header" data-ng-style="{'background-color':featureDetails.featureColor}" data-ng-click="goToLogin()">
   הצטרף
    </div>
</div>