<link rel="stylesheet" type="text/css" href="./components/event/event.css" /> 



<div class="sub-header" id="feature-header" data-ng-click="writeEvent()">
    <div data-ng-style="{'background-color':featureDetails.featureColor}">
   צור אירוע
    </div>
    <div class="color-line color-line-bottom "></div>
</div>

 <div ng-controller="DatepickerDemoCtrl">
<!-- <pre><em>{{dt | date:'fullDate' }}</em></pre> -->
    <div class='calendar-area'>
        <datepicker ng-model="dt" show-weeks="false" class="well well-sm calendar"></datepicker>
		<div id="calendar-arrow" data-ng-click="toggleWeekDisplay()"></div>
    </div>

</div>

<div class="meeting-wrapper" data-ng-class="{'we':f}">
<div class="posts-list" scroller loading-method="loadMore()">
    
        <post data-ng-repeat="post in posts()" data-post-type="event"></post>
    
   <div class="spiner-zone" data-ng-show="showSpiner()">
        <div class="loader fa fa-spinner fa-spin"></div>
    </div>

</div>
    </div>

<!-- data-ng-if='currentTimeStamp < post.DestinationTime' -->

