<link rel="stylesheet" type="text/css" href="./components/event/event.css"/> 


 <div ng-controller="DatepickerDemoCtrl" data-ng-show="showAll==true">
<!-- <pre><em>{{dt | date:'fullDate' }}</em></pre> -->
    <div class='calendar-area'>
        <datepicker ng-model="dt" show-weeks="false" class="well well-sm calendar"></datepicker>
        <div class="bottom-part-calendar">
            <span id="todayButton" class="shadow-buttons" data-ng-click="showCurrentDate()">היום</span>
            <span id="displayedDate">{{dt|date:"dd.MM.yyyy"}} {{hedt}}</span>
            <span id="calendar-arrow" data-ng-click="toggleWeekDisplay()"></span>
        </div>	
        <div class="white-line"></div>	
    </div>

</div>

<div class="meeting-wrapper" data-ng-class="{'we':f}">
<div class="posts-list" scroller loading-method="loadMore()">
        <div class="close-events-title" >אירועים קרובים</div>
        <post data-ng-repeat="post in posts()" data-post-type="event"></post>
    
   <div class="spiner-zone" data-ng-show="showSpiner()">
        <div class="loader" data-ng-class="{'general-loader':posts().length==0}"></div>
    </div>
    <div class="end-load-more" data-ng-if="showendloader == true">
        <img alt="end" src="./img/end_feed.png" />
        <div class="loadmore-endline"></div>
    </div>
</div>
    </div>

<!-- data-ng-if='currentTimeStamp < post.DestinationTime' -->
<div class="sub-header  special-sub-header" id="feature-header" data-ng-click="writeEvent()">
    <div class="inner-special-header" data-ng-style="{'background-color':featureDetails.featureColor}">
   צור אירוע
    </div>
</div>

<img src="http://www.galim.org.il/pools/files/GalimGifs/GalimGifPicture/12888.jpg" sb-load="showAll($event)" style="display: none;" /><!--hack- for triggering event of dom loaded-->