.calendar{

background-color:#42484e;

}
.btn.btn-sm.pull-right{



}
.btn.btn-default.btn-sm.btn-info.active{

	
}
td.text-center{

	width:10%;
}

thead tr:first-child{
background-color: #31363d;
 border-bottom: 6px solid #ffffff;

}

thead tr .btn.btn-default.btn-sm{
background-color: #31363d;
color:#ffffff;
font-size:22px;
border:none;

}

thead th{

vertical-align: middle;

}
thead .btn.btn-default.btn-sm.pull-left{

background-image: url(../../img/arrow_calendar.png);
height: 22px;
width: 22px;
background-size: contain;
background-repeat: no-repeat;
}

thead .btn.btn-default.btn-sm.pull-right{

background-image: url(../../img/arrow_calendar.png);
height: 22px;
width: 22px;
background-size: contain;
background-repeat: no-repeat;
transform:rotate(180deg);
-ms-transform:rotate(180deg); /* IE 9 */
-webkit-transform:rotate(180deg); /* Opera, Chrome, and Safari */
}

thead tr:last-child{
background-color:#004a8e;
}

thead tr small{
color:#ffffff;
font-size:12px;

}

tbody .btn.btn-default.btn-sm{
background-color:#ffffff;
color:#31363d;
border-radius:0;
 border: 1px solid #31363d;

}

tbody .btn.btn-default.btn-sm.btn-info{

 border: 2px solid #004a8e;

}