.calendar-area {
    position: relative;
    z-index: 1;
}

.calendar {
    /*background-color: #42484e;*/
    background-color: #2f343b;
    padding-bottom: 30px;
    padding-top: 58px;
    border: none;
    margin-bottom: 0px;
    position: relative;
}

.calendar:after {
    position: absolute;
    content: "";
    width: 100%;
    z-index: 1;
    height: 4px;
    bottom: -2px;
    background: #747474;
    right: 0px;
    border: 1px inset rgba(45,50,56,0.75);
}

.btn.btn-sm.pull-right {
}

.btn.btn-default.btn-sm.btn-info.active {
}

td.text-center {
    width: 10%;
}

thead tr:first-child {
    background-color: #31363d;
    border-bottom: 4px solid #ffffff;
    height: 42px;
}

thead tr .btn.btn-default.btn-sm {
    background-color: #565c63;
    color: #ffffff;
    font-size: 20px;
    line-height: 34px;
    border: none;
    padding: 3px 10px 0px 10px;
}

thead th {
    vertical-align: middle;
    height: 22px;
    line-height: 1px;
}

thead .btn.btn-default.btn-sm.pull-left {
    background-image: url(../../img/arrow_calendar.png);
    height: 22px;
    width: 22px;
    background-size: contain;
    background-repeat: no-repeat;
}

thead .btn.btn-default.btn-sm.pull-right {
    background-image: url(../../img/arrow_calendar.png);
    height: 22px;
    width: 22px;
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(180deg);
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Opera, Chrome, and Safari */
}

.posts-list {
    background-color: #42484e;
}

.calendar-area table thead th:nth-child(2) button:first-child {
    -webkit-box-shadow: inset 0px 24px 1px -22px rgba(0,0,0,0.48);
    -moz-box-shadow: inset 0px 24px 1px -22px rgba(0,0,0,0.48);
    box-shadow: inset 0px 24px 1px -22px rgba(0,0,0,0.48);
}

thead tr:last-child {
    background-color: #004a8e;
}

thead tr small {
    color: #ffffff;
    font-size: 11px;
    font-weight: 500;
}

tbody .btn.btn-default.btn-sm {
    background-color: #ffffff;
    color: #31363d;
    font-weight: bold;
    border-radius: 0;
    border: 1px solid #31363d;
    position: relative;
}

/*tbody .btn.btn-default.btn-sm.btn-info {
    padding: 4px;
    border: 1px solid #004a8e;
}*/

tbody .btn.btn-default.btn-sm.btn-info:before {
    width: 100%;
    height: 100%;
    content: "";
    border: 3px solid #004a8e;
    position: absolute;
    top: 0px;
    left: 0px;
    box-sizing: border-box;
}

#calendar-arrow {
    background-image: url(../../img/arrow_calendar.png);
    background-size: contain;
    width: 22px;
    height: 22px;
    position: absolute;
    margin: auto;
    bottom: 4px;
    right: 0;
    left: 0;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

/****calander*****/


.calendar thead tr:first-child {
    position: absolute;
    width: 100%;
    right: 0px;
    top: 0px;
    background-color: #565c63;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.95);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.95);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.95);
}

/*thead .btn.btn-default.btn-sm.pull-left {
    position: absolute;
    display: inline-block;
    margin-bottom: auto;
    margin-top: auto;
    top: 0px;
    bottom: 0px;
    right: 10px;
}

thead .btn.btn-default.btn-sm.pull-right {
    position: absolute;
    display: inline-block;
    margin-bottom: auto;
    margin-top: auto;
    top: 0px;
    bottom: 0px;
    left: 10px;
}

thead tr .btn.btn-default.btn-sm {
    right: 100%;
    position: relative;
}*/

.calendar thead tr:first-child th:first-child {
    position: absolute;
    margin: auto 0px;
    top: 0px;
    bottom: 0px;
    right: 10px;
}

.calendar thead tr:first-child th:last-child {
    margin: auto 0px;
    display: inline-block;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 10px;
}

.calendar thead tr:first-child th:nth-child(2) {
    width: 100%;
    display: inline-block;
}

#feature-header div {
    font-size: 15px;
}

.event-title {
    font-weight: bold;
    padding: 12px 23px 12px 24px;
}

.posts-list .event-title {
    padding-right: 10px;
}

.event-time {
    padding: 12px;
    font-weight: bold;
    font-size: 12px;
}

.event-main-text {
    padding: 12px;
    font-size: 12px;
}

.event-3points {
    display: inline-block;
}

.event-read-more {
    font-weight: bold;
    float: left;
}

.single-event-header {
    width: 100%;
    height: 42px;
    background-color: hsl(212, 7%, 36%);
    color: hsl(0, 100%, 100%);
    box-sizing: border-box;
    padding: 0px 30px;
    position: relative;
    z-index: 2;
    font-size: 10px;
    padding: 6px 24px 0px 24px;
    line-height: 13px;
}

.event-container {
    position: relative;
    min-height: 100%;
    padding-bottom: 250px;
}

.single-event-body {
    background-color: #ffffff;
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0px;
    padding-top: 38px;
    overflow: auto;
}

.single-event-wrapper {
    position: absolute;
    width: 100%;
    bottom: 0px;
}

.singleEvent-text {
    text-align: justify;
    margin-left: 12px;
    padding-right: 12px;
    word-wrap: break-word;
}

.single-event {
}

.event-participation {
    height: 100%;
    font-size: 12px;
    margin: auto;
    width: 63%;
    position: relative;
    margin-bottom: 20px;
}

.detail-wrapper-enent {
    position: relative;
    width: 100%;
}

.join-button.event-join-button {
    display: block;
    width: 155px;
    position: relative;
    font-weight: normal;
    margin-bottom: 8px;
}

.participation-option-cell {
    display: inline-block;
    vertical-align: middle;
    width: 71%;
    line-height: 15px;
}

.owner-wrapper-detailes {
    box-shadow: 0px 3px 2px 5px rgba(0,0,0,0.73);
    -webkit-box-shadow: 0px 3px 2px 5px rgba(86,92,99,0.83);
    -moz-box-shadow: 0px 3px 2px 5px rgba(86,92,99,0.83);
}

.event-participation .icon {
    height: 40px;
    width: 40px;
    background-size: contain;
}

.phone-icon {
    background-image: url('../../img/phone.png');
}

.mail-icon {
    background-image: url('../../img/envelope_small.png');
}

.navigate-icon {
    background-image: url('../../img/map.png');
}

.calendar-area table:first-child {
    margin: auto;
}


.meeting-wrapper {
    height: 100%;
    overflow: auto;
    position: absolute;
    width: 100%;
    bottom: 0px;
    padding-top: 182px;
    z-index: 0;
}


.meeting-wrapper.we {
    padding-top: 333px;
}

.meeting-wrapper .posts-list {
    position: relative;
    padding-bottom: 0px;
    padding-top: 0px;
}


/****ffffffffffff**/

