
<link rel="stylesheet" type="text/css" href="./components/event/event.css" /> 



<div class="sub-header" id="feature-header" data-ng-click="writeEvent()">
    <div data-ng-style="{'background-color':featureDetails.featureColor}">
   צור אירוע
    </div>
    <div class="color-line color-line-bottom "></div>
</div>

 <div ng-controller="DatepickerDemoCtrl">
<!-- <pre><em>{{dt | date:'fullDate' }}</em></pre> -->
    <div><!--style="display:inline-block; min-height:290px;"-->
        <datepicker ng-model="dt" min-date="minDate" show-weeks="false" class="well well-sm calendar"></datepicker>
    </div>
</div>

<div class="posts-list" scroller loading-method="loadMore()">
    <post data-ng-repeat="event in events() " data-post-type="event"></post>
   <!--  <div class="spiner-zone" data-ng-show="showSpiner()">
        <div class="fa fa-spinner fa-spin"></div>
    </div> -->

</div>

