.calendar-area {
    position: relative;
    z-index: 1;
    background-color: #ecf8ff;
    padding-bottom: 11px;
}


.post-details {
padding: 0px;
}

.calendar.well {
    background-color: #ecf8ff;
    border: none;
    margin-bottom: 0px;
    position: relative;
    padding: 58px 0px 10px 0px;
}

/*.calendar:after {
    position: absolute;
    content: "";
    width: 100%;
    z-index: 1;
    height: 4px;
    bottom: -2px;
    background: #ffffff;
    right: 0px;
     border: 1px inset rgba(45,50,56,0.75); 
}*/

.btn.btn-sm.pull-right {
}

.btn.btn-default.btn-sm.btn-info.active {
}

td.text-center {
    width: 10%;
}

thead tr:first-child {
    background-color: rgb(0, 74, 142);
    border-bottom: 4px solid #ffffff;
    height: 42px;
}

thead tr .btn.btn-default.btn-sm {
    background-color: rgb(0, 74, 142);
    color: #ffffff;
    font-size: 20px;
    line-height: 34px;
    border: none;
    padding: 3px 10px 0px 10px;
}

thead th {
    vertical-align: middle;
    height: 22px;
    line-height: 1px;
}

thead .btn.btn-default.btn-sm.pull-left {
    background-image: url(../../img/arrow_calendar.png);
    height: 22px;
    width: 22px;
    background-size: contain;
    background-repeat: no-repeat;
}

thead .btn.btn-default.btn-sm.pull-right {
    background-image: url(../../img/arrow_calendar.png);
    height: 22px;
    width: 22px;
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(180deg);
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Opera, Chrome, and Safari */
}

.posts-list {
    background-color: #d4deec;
}

.calendar-area table thead th:nth-child(2) button:first-child {
    -webkit-box-shadow: inset 0px 24px 1px -22px rgba(0,0,0,0.48);
    -moz-box-shadow: inset 0px 24px 1px -22px rgba(0,0,0,0.48);
    box-shadow: inset 0px 24px 1px -22px rgba(0,0,0,0.48);
}

thead tr:last-child {
    background-color: #004a8e;
}

thead tr small {
    color: #ffffff;
    font-size: 11px;
    font-weight: 500;
}

tbody .btn.btn-default.btn-sm {
    background-color: #ffffff;
    color: #31363d;
    font-weight: bold;
    border-radius: 0;
    border: 1px solid #31363d;
    position: relative;
    padding: 8px 6px;
}

/*tbody .btn.btn-default.btn-sm.btn-info {
    padding: 4px;
    border: 1px solid #004a8e;
}*/

tbody .btn.btn-default.btn-sm.btn-info:before {
    width: 100%;
    height: 100%;
    content: "";
    border: 3px solid #004a8e;
    position: absolute;
    top: 0px;
    left: 0px;
    box-sizing: border-box;
}

#calendar-arrow {
    background-image: url(../../img/arrow_calendar.png);
    background-size: contain;
    width: 22px;
    height: 22px;
    cursor: pointer;
    position: absolute;
    margin: auto;
    bottom: 11px;
    left: 19px;
    /*-webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);*/
}

/****calander*****/


.calendar thead tr:first-child {
    position: absolute;
    width: 100%;
    right: 0px;
    top: 0px;
    /* background-color: #565c63; */
    -webkit-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.55);  -moz-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.55);  box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.55);
}

/*thead .btn.btn-default.btn-sm.pull-left {
    position: absolute;
    display: inline-block;
    margin-bottom: auto;
    margin-top: auto;
    top: 0px;
    bottom: 0px;
    right: 10px;
}

thead .btn.btn-default.btn-sm.pull-right {
    position: absolute;
    display: inline-block;
    margin-bottom: auto;
    margin-top: auto;
    top: 0px;
    bottom: 0px;
    left: 10px;
}

thead tr .btn.btn-default.btn-sm {
    right: 100%;
    position: relative;
}*/

.calendar thead tr:first-child th:first-child {
    position: absolute;
    margin: auto 0px;
    top: 0px;
    bottom: 0px;
    right: 10px;
}

.calendar thead tr:first-child th:last-child {
    margin: auto 0px;
    display: inline-block;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 10px;
}

.calendar thead tr:first-child th:nth-child(2) {
    width: 100%;
    display: inline-block;
}

#feature-header div {
    font-size: 15px;
}

.event-title {
    font-weight: bold;
    margin-bottom: 2px;
    font-size: 15px;
}

.posts-list .event-title {
    padding-right: 0px;
}

.event-time {
    padding: 0px;
    font-weight: bold;
    font-size: 12px;
}

.event-main-text {
    padding: 8px 0px 0px 0px;
    font-size: 12px;
}

.event-3points {
    display: inline-block;
}

.event-read-more {
    font-weight: bold;
    float: left;
}

.single-event-header {
    width: 100%;
    height: 42px;
    background-color: #ecf8ff;
    color: hsl(0, 100%, 100%);
    box-sizing: border-box;
    padding: 0px 30px;
    position: relative;
    z-index: 2;
    font-size: 10px;
    padding: 6px 24px 0px 24px;
    line-height: 13px;
}

.event-container {
    position: relative;
    min-height: 100%;
    padding-bottom: 250px;
    padding: 0px 14px 250px 14px;
}

.single-event-body {
    background-color: #ffffff;
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0px;
    padding-top: 14px;
    overflow: auto;
}

.single-event-wrapper {
    position: absolute;
    width: 100%;
    bottom: 0px;
    right: 0px;
}

.singleEvent-text {
    text-align: justify;
    word-wrap: break-word;
}

.single-event {
}

.event-participation {
    height: 100%;
    font-size: 12px;
    margin: auto;
    width: 240px;
    position: relative;
    margin-bottom: 20px;
}

.detail-wrapper-enent {
    position: relative;
    width: 100%;
    border-radius: 15px;
    background-color: #ecf8ff;
    height: 32px;
    margin-bottom: 9px;
}

.join-button.event-join-button {
    display: block;
    width: 112px;
    position: relative;
    font-weight: normal;
    margin-bottom: 12px;
    height: 33px;
    line-height: 33px;
    font-size: 15px;
}

.participation-option-cell {
    display: inline-block;
    vertical-align: middle;
    width: 205px;
    vertical-align: top;
    height: 100%;
    padding: 5px 3px 0px 0px;
    font-size: 10px;
    line-height: 12px;
}

.participation-option-cell div {
    line-height: 11px;
    
}

.owner-wrapper-detailes {
    margin-bottom: 14px;
}

.event-participation .icon {
    height: 25px;
    width: 25px;
    background-size: contain;
    cursor: pointer;
    margin: 3px 5px 0px 0px;
}

.phone-icon {
    background-image: url('../../img/phone.png');
}

.mail-icon {
    background-image: url('../../img/envelope_small.png');
}

.navigate-icon {
    background-image: url('../../img/map.png');
}

.calendar-area table:first-child {
    margin: auto;
}


.meeting-wrapper {
    height: 100%;
    overflow: auto;
    position: absolute;
    width: 100%;
    bottom: 0px;
    padding-top: 152px;
    z-index: 0;
}


.meeting-wrapper.we {
    padding-top: 339px;
}

.meeting-wrapper .posts-list {
    position: relative;
    padding-bottom: 42px;
    padding-top: 0px;
}

.top-single-title {
    margin-top:10px
}
<<<<<<< .mine

=======

>>>>>>> .theirs
.the-single-title {
    font-size: 12px;
    
    line-height: 14px;
}


.bottom-part-calendar {
    
}

#todayButton {
   background-color: #004a8e;
   border-radius: 5px; 
   color: #ffffff;
   width: 50px;
   height: 23px;
   display: inline-block;
   text-align: center;
   line-height: 23px;
   margin: 0px 11px;
   font-size: 15px;
}

/****ffffffffffff**/

span#displayedDate {
    font-size: 11px;
    color: #000000;
    font-weight: bold;
}

.close-events-title {
    color: #004a8e;
    font-size: 18px;
    text-align: right;
    padding-right: 12px;
    font-weight: bold;
    margin-top: 13px;
    margin-bottom: -7px;
}

.post-wrap .post-tab {
    padding: 10px 14px 10px 14px;
    
}

.read-more-event {
    text-align: left;
    color: rgb(0, 74, 142);
    margin-top: 5px;
}

.inner-readmore-event {
    
}

.participation-option-cell.nav-to{
    padding-top: 9px;
    
}

.single-event-body #author-header {
    background-color: #004a8e;
    
    padding: 0px 30px 0px 30px;
    height: 45px;
}

.single-event-body #author-header .author-name {
    width: auto !important;
}

.single-event-body #author-header .author-name:first-child {
    margin-right: 10px;
}