<link rel="stylesheet" type="text/css" href="./components/event/event.css" />

<div class="scroll-main-window" scroller loading-method="loadMore()">


    <div class='single-event-header' data-ng-repeat="post in [post()]">
		<div> יום {{post.timestamp | date : 'EEEE'}} {{post.timestamp | date : 'dd.MM.yyyy'}} 
	   שעה {{post.timestamp | date : 'H:mm'}}
	   </div>
	   <div>
	   מקום: {{post.place}}דימונה
	   </div>
	   <div class="color-line color-line-bottom "></div>
	</div>
	
	<div class='single-event-body'>
		<post data-post-type="event" class="single-event" data-ng-repeat="post in [post()]"></post>
		
		<div class='event-participation'>
			<div class='button' style='background-color:{{featureDetails.featureColor}};'>השתתף</div>
			<div>
				<div><div class='icon phone-icon participation-option-cell'></div><div class='participation-option-cell'><div>צור קשר</div><div>ישראל ישראלי {{post.phone}}052-6071872</div></div></div>
				<div><div class='icon mail-icon participation-option-cell'></div><div class='participation-option-cell'><div>מייל</div><div>mail@mail.il</div></div></div>
				<div><div class='icon navigate-icon participation-option-cell'></div><div class='participation-option-cell'>נווט לכתובת: {{post.place}}דימונה</div></div>
			</div>
		</div>
		
		 <author-header data-ng-repeat="post in [post()]"></author-header>
	</div>
</div>
