.sign-in-popup {
    background-color: #ecf8ff;
    z-index: 11;
    top: 50px;
    width: 93%;
    margin: 6px 13px 16px 13px;
    height: 88%;
    position: absolute;
    right: 0px;
    left: 0px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
/*/*/
.sign-in-picture {
}

.jcrop-holder div .jcrop-tracker {
    background-image: url("/img/avatar-circle.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.popup-wrapper {
    position: relative;
    overflow: auto;
    min-height: 100%;
}

.popup-wrapper select {
    float: none;
    text-indent: 0px;
    padding: 1px 7px 0px 0px;
}

.popup-wrapper select .select-gender {
    color: #999;
}

.log-in-wrapper {
    padding-bottom: 117px;
}

.sign-in-close-zone {
    width: 100%;
    height: 35px;
}

.close-sign-in {
   background-image: url(../../img/information-x.png);
background-repeat: no-repeat;
background-position: right 1px;
background-size: 50% 50%;
display: block;
width: 44px;
height: 44px;
line-height: 15px;
text-align: center;
border-radius: 10px;
font-weight: 500;
font-size: 1.2em;
cursor: pointer;
margin: 10px 7px 0px 0px;
opacity: 1 !important;
}

.close-sign-in.close:hover {
    opacity: .68;
}

.my-facebook-square {
    background-image: url('../../img/f.png');
}

.my-google-plus {
    background-image: url('../../img/g.png');
}

.sign-in-field span {
    vertical-align: top;
    color: #ffffff;
}

.sign-in-field.facebook-login-feild {
    background-color: #004a8e;
    width: 262px;
}

.sign-in-field.google-login-feild {
    background-color: #d93e25;
    width: 262px;
}

.my-square {
    width: 27px;
    height: 26px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    top: -5px;
    margin-right: 4px;
}


.sign-in-field {
    height: 32px;
    width: 262px;
    background-color: #fff;
    display: block;
    border-radius: 11px;
    color: #000000;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 0;
    margin: 5px auto 13px auto;
    position: relative;
    line-height: normal;
}


.placeholder-color {
    color: #999;
}


.sign-in-field:-ms-input-placeholder {
}


.sign-in-field:-moz-placeholder {
}

.sign-in-field::-moz-placeholder {
}



.sign-in-upload-image-zone {
    width: 262px;
    min-height: 42px;
    position: relative;
    margin: 5px auto 13px auto;
}

input#userImg {
    position: absolute;
    top: 0px;
}

.sign-in-upload-image {
    width: 35px;
    height: 33px;
    background-color: white;
    display: inline-block;
    border-radius: 10px;
    float: right;
    position: relative;
    line-height: 30px;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
}

.sign-in-image-name {
    display: inline-block;
    width: 220px;
    height: 33px;
    background-color: #ffffff;
    border-radius: 10px;
    margin-right: 6px;
    line-height: 32px;
    color: #A9A9A9;
    padding-right: 10px;
    /* float: left; */
    margin-bottom: 20px;
}

.sign-in-btn {
    background-color: #12426F;
    height: 33px;
    width: 91px;
    font-size: 15px;
    border-radius: 10px;
    display: block;
    color: white;
    border: 0;
    margin: 5px auto 15px auto;
}

input[type=file] {
    opacity: 0;
    width: inherit;
    height: inherit;
    z-index: 1000;
    cursor: pointer;
}

.log-in-or {
    text-align: center;
    color: #000000;
    margin-top: -6px;
    font-weight: bold;
    font-size: 14px;
}

.no-sign-in-yet {
    text-align: center;
    color: #2d2829;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 14px;
}


.sign-in-wrapper:before {
    position: absolute;
    height: 3px;
    width: 100%;
    top: 0px;
    background-image: url('../../img/image/color_line.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.sign-in-wrapper {
    position: absolute;
    width: 100%;
    bottom: 0px;
    padding: 15px 0px;
}


#signinButton iframe {
    display: none;
}

span#signinButton {
    display: block;
    position: absolute;
    width: 100%;
    right: 0px;
    top: 0px;
}

.login-forget-pass {
    color: #000;
    text-align: center;
    margin-bottom: 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 12px;
    margin-top: 32px;
}

#___signin_0, #___signin_0 button {
    width: 100% !important;
}

.sign-in-wrapper .sign-in-btn {
    margin-bottom: 7px;
}

.login-error {
    color: #fa0001;
    font-size: 10px;
    padding-right: 15px;
    padding-bottom: 3px;
}

.loginErrorActive {
    border: 1px solid red;
}

.back-to-login {
    background-image: url(../../img/arrow_calendar.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    display: inline-block;
    width: 21px;
    height: 19px;
    line-height: 15px;
    text-align: center;
    border-radius: 10px;
    font-weight: 500;
    font-size: 1.2em;
    cursor: pointer;
    margin: -20px 0px 0px 7px;
    float: left;
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
}

.password-recovery-title {
    text-align: center;
    color: #2d2829;
    margin-bottom: 10px;
}

.password-recovery-sub-title {
    color: #2d2829;
    font-size: 12px;
    width: 90%;
    margin: auto;
    margin-bottom: 15px;
    text-align: center;
}

/*--------------------------------croping-------------------------*/
div.editImg {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: #828282; */
}

#cropDiv {
    /*width: 300px !important;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-height: 250px !important;
}

#cropDiv img {
    max-width: 300px;
}

canvas#c {
    clear: both;
    float: left;
}

.cat-Approve {
    float: left;
}

.cat-cancel {
    float: right;
}

.userImg {
    border-radius: 100%;
    clear: both;
    margin: 0px auto 20px auto;
    width: 110px;
    height: 110px;
    display: block;
    border: 0px solid #42484e;
}

/*canvas {
    visibility: hidden;
}*/

#instruction-for-image {
    width: 100%;
    text-align: center;
    margin: 5px 0px 15px 0px;
    color: #000000;
    position: relative;
}

#cropDiv .jcrop-holder {
    margin: 0px auto 22px auto;
    width: 95%;
    /*min-height: 182px;
    margin-bottom: 22px;*/
}


#cropDiv .jcrop-holder img {
    /*position: absolute !important;
    top: 0px !important;
    left: 0px !important;
    margin: auto !important;
    right: 0px !important;
    bottom: 0px !important;*/
}

.button-side-img {
    width: 49%;
    height: 44px;
    display: inline-block;
    margin-top: 15px;
    position: relative;
}

.background-button-img {
    font-weight: 600;
    letter-spacing: 0.5px;
    width: 91px !important;
    height: 33px !important;
    background-color: #12426F;
}

.login-forget-pass.code-here {
    font-weight: normal;
    margin-bottom: 8px;
}

.login-forget-pass.blue-login-forget {
    color: #004a8e;
    margin-top: 11px;
}

#relative-plus {
    position: absolute;
    top: 1px;
    text-align: center;
    width: 100%;
    font-size: 27px;
    font-weight: 700;
}

.confirm-terms-benetwrapper {
    width: 262px;
    min-height: 42px;
    position: relative;
    margin: 5px auto 13px auto;
}

.term-benet-box {
    width: 33px;
    position: relative;
    height: 35px;
    display: inline-block;
    vertical-align: top;
    background-color: #ffffff;
    border-radius: 9px;
    margin-left: 5px;
    border: 1px solid #959595;
    padding: 5px;
}

.term-benet-box div {
    width: 100%;
    height: 100%;
    background-image: url('../../img/signv.png');
    background-size: contain;
}

.term-benet-confirm {
    display: inline-block;
    vertical-align: top;
    line-height: 33px;
    font-size: 14px;
}

.benet-terms-content.ng-binding {
    padding: 8px 14px;
    font-size: 10px;
    margin-bottom: 10px;
}

span.underline-benet-terms {
    text-decoration: underline;
}

.cropArea {
    /*background: #E4E4E4;*/
    overflow: hidden;
    width: 200px;
    height: 150px;
    margin: auto;
}
