.sign-in-popup {
    background-color: #565c63;
    z-index: 11;
    top: 50px;
    width: 93%;
    margin: auto;
    height: 88%;
    position: absolute;
    margin-right: auto;
    margin-left: auto;
    right: 0px;
    left: 0px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.sign-in-picture {
}

.jcrop-holder div .jcrop-tracker {
    background-image: url("/img/avatar-circle.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.popup-wrapper {
    position: relative;
    overflow: auto;
    min-height: 100%;
}

.log-in-wrapper {
    padding-bottom: 117px;
}

.sign-in-close-zone {
    width: 100%;
    height: 35px;
}

.close-sign-in {
    background-image: url('../../img/small_x.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    display: block;
    width: 22px;
    height: 22px;
    line-height: 15px;
    text-align: center;
    border-radius: 10px;
    font-weight: 500;
    font-size: 1.2em;
    cursor: pointer;
    margin: 10px 7px 0px 0px;
}

.close-sign-in.close:hover {
    opacity: .68;
}

.sign-in-field {
    height: 42px;
    width: 90%;
    background-color: #2f343b;
    display: block;
    border-radius: 10px;
    color: white;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 0;
    margin: 5px auto 10px auto;
    position: relative;
    line-height: normal;
}


/*gdfgdgdg*/


.sign-in-field:-ms-input-placeholder {
}


.sign-in-field:-moz-placeholder {
}

.sign-in-field::-moz-placeholder {
}



.sign-in-upload-image-zone {
    margin: auto;
    width: 90%;
    min-height: 42px;
    position: relative;
}

input#userImg {
    position: absolute;
    top: 0px;
}

.sign-in-upload-image {
    width: 10%;
    height: 10%;
    background-color: white;
    display: inline-block;
    border-radius: 10px;
    float: right;
    position: relative;
    line-height: 30px;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
}

.sign-in-image-name {
    display: inline-block;
    width: 87%;
    height: 30px;
    background-color: #2f343b;
    border-radius: 10px;
    margin-right: 3%;
    line-height: 30px;
    color: #A9A9A9;
    padding-right: 10px;
    /*float: left;*/
    margin-bottom: 20px;
}

.sign-in-btn {
    background-color: #42484e;
    height: 42px;
    width: 155px;
    font-size: 19px;
    border-radius: 10px;
    display: block;
    color: white;
    border: 0;
    margin: 5px auto 15px auto;
}

input[type=file] {
   opacity: 0;
width: inherit;
height: inherit;
z-index: 1000;
}

.log-in-or {
    text-align: center;
    color: white;
    margin-top: -6px;
}

.no-sign-in-yet {
    text-align: center;
    color: white;
    margin-bottom: 8px;
    font-weight: bold;
}


.sign-in-wrapper:before {
    content: "";
    position: absolute;
    height: 3px;
    width: 100%;
    top: 0px;
    background-image: url('../../img/image/color_line.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.sign-in-wrapper {
    position: absolute;
    width: 100%;
    bottom: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px 0px;
}


#signinButton iframe {
    display: none;
}

span#signinButton {
    display: block;
    position: absolute;
    width: 100%;
    right: 0px;
    top: 0px;
}

.login-forget-pass {
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

#___signin_0, #___signin_0 button {
    width: 100% !important;
}

.sign-in-wrapper .sign-in-btn {
    margin-bottom: 7px;
}

.login-error {
    color: white;
    font-size: 10px;
    padding-right: 15px;
    padding-bottom: 3px;
}

.loginErrorActive {
    border: 1px solid red;
}

/*--------------------------------croping-------------------------*/
div.editImg {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #828282;
}

#cropDiv {
    /*width: 300px !important;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-height: 250px !important;
}

#cropDiv img {
    max-width: 300px;
}

canvas#c {
    clear: both;
    float: left;
}

.cat-Approve {
    float: left;
    width: 70% !important;
    margin-left: 3%;
    height: 44px !important;
}

.cat-cancel {
    float: right;
    width: 70% !important;
    height: 44px;
    margin-right: 3%;
}

.userImg {
    border-radius: 100%;
    clear: both;
    margin: 0px auto 20px auto;
    width: 80px;
    height: 80px;
    display: block;
    border: 1px solid #42484e;
}

canvas {
    visibility: hidden;
}

#instruction-for-image {
    width: 100%;
    text-align: center;
    margin: 5px 0px 15px 0px;
    color: #bcccce;
    position: relative;
}

#cropDiv .jcrop-holder {
    margin: 0px auto 22px auto;
    width: 95%;
    /*min-height: 182px;
    margin-bottom: 22px;*/
}


#cropDiv .jcrop-holder img {
    /*position: absolute !important;
    top: 0px !important;
    left: 0px !important;
    margin: auto !important;
    right: 0px !important;
    bottom: 0px !important;*/
}

.button-side-img {
    width: 49%;
    height: 44px;
    display: inline-block;
    margin-top: 15px;
    position: relative;
}

.background-button-img {
    background: #565c63;
    font-weight: 600;
    letter-spacing: 0.5px;
    border: 1px solid #42484e;
}

.color-line {
    position: absolute;
    bottom: 0px;
    height: 4px;
}

#relative-plus {
    position: absolute;
    top: 1px;
    text-align: center;
    width: 100%;
    font-size: 27px;
    font-weight: 700;
}
