<section id="user-profile">
    <div class="user-profile-avatar-zone">
        <div class="color-circle">
            <div class="user-profile-avatar" data-ng-style="{'background-image': 'url({{profile().userImg}})'}"></div>
        </div>
    </div>
    <div class="color-line"></div>
    <div class="user-profile-items">
        <div class="user-profile-name user-profile-item" data-on-long-press="editItem('name')">
            <div data-ng-hide="editName">{{profile().firstName}} {{profile().lastName}}</div>
            <input type="text" data-ng-model="profile().firstName" data-ng-show="editName" value="{{ profile().firstName }}">
            <input type="text" data-ng-model="profile().lastName" data-ng-show="editName" value="{{ profile().lastName }}">
        </div>
        <div class="user-profile-address user-profile-item" data-on-long-press="editItem('address')">
            <div data-ng-hide="editAddress" placeholder="כתובת">{{profile().address}}</div>
            <input type="text" data-ng-model="profile().address" data-ng-show="editAddress" value="{{profile().address}}">
        </div>
        <div class="user-profile-mail user-profile-item" data-on-long-press="editItem('email')">
            <div data-ng-hide="editEmail">{{profile().email}}</div>
            <input type="text" data-ng-model="profile().email" data-ng-show="editEmail" value="{{profile().email}}">
        </div>
        <div class="user-profile-phone user-profile-item" data-on-long-press="editItem('phone')">
            <div data-ng-hide="editPhone">{{profile().phone}}</div>
            <input type="text" data-ng-model="profile().phone" data-ng-show="editPhone" value="{{profile().phone}}">
        </div>
        <div class="user-profile-item">
            <input type="button" class="user-profile-logout-btn" data-ng-click="userLogout()" value="התנתק">
        </div>
    </div>
</section>