div.user-profile-gender.user-profile-item { /*temp for submission 0307*/
   
}

div.user-profile-item:last-child { /*temp for submission 0307*/
    border: none;
 width: 100%; 
 height: 54px;}



#user-profile {
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}

.user-profile-avatar-zone {
    width: 100%;
    height: 168px;
    background-color: #fff;
    position: relative;
}

.user-profile-avatar-wrapper {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    height: 124px;
    width: 186px;
    margin: auto;
}

.color-circle {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    margin: auto;
    height: 122px;
    width: 122px;
    position: absolute;
    top: 0px;
    /*bottom: 0px;*/
    right: 0px;
    left: 0px;
}

.user-profile-avatar {
    border-radius: 100%;
    border: 1px solid #2f343b;
    background-size: 100% 100%;
    width: 122px;
    height: 122px;
    /* line-height: 152px; */
    background-color: white;
    margin: auto;
    /*background-image: url('../img/user.png');*/
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.user-profile-rank {
    position: absolute;
    right: 0px;
    left: 0px;
    bottom: 0px;
    text-align: center;
    color: #8ec531;
    height: 25px;
    line-height: 25px;
}

.user-profile-rank-image {
    height: 25px;
    width: 25px;
    background-image: url('../../img/rank.png');
    background-repeat: no-repeat;
    /*background-position-x: 1px;
    background-position-y: 1px;*/
    background-size: 125px 25px;
    /*position: absolute;*/
    right: 65px;
    display: inline-block;
}

.rank-image-1 {
    background-position-x: -25px;
}

.rank-image-2 {
    background-position-x: -50px;
}

.rank-image-3 {
    background-position-x: -75px;
}

.rank-image-4 {
    background-position-x: -100px;
}

.rank-text-1 {
    color: #006dbe;
}

.rank-text-2 {
    color: #f6ba55;
}

.rank-text-3 {
    color: #da4f00;
}

.rank-text-4 {
    color: #ffffff;
}

.user-profile-rank-text {
    position: relative;
    display: inline-block;
    top: -8px;
    font-size: 13px;
    font-weight: bold;
}


.user-profile-items {
    background-color: white;
    width: 100%;
    /*height: 100%;*/
}

.user-profile-item {
    width: 282px;
    height: 58px;
    margin: auto;
    border-bottom: 1px solid gray;
    position: relative;
    color: #2f343b;
    padding-right: 55px;
    line-height: 62px;
    font-weight: bold;
}

.user-edit-icon {
    height: 35px;
    width: 35px;
    line-height: 62px;
    background-image: url('../../img/pencil.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    position: absolute;
    top: 13px;
    right: 10px;
    display: inline-block;
    cursor: pointer;
}

.user-item-text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.user-edit-icon-v {
    height: 35px;
    width: 35px;
    line-height: 62px;
    background-image: url('../../img/check.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    position: absolute;
    top: 13px;
    right: 10px;
    display: inline-block;
    cursor: pointer;
}

.user-edit-icon-x {
    height: 35px;
    width: 35px;
    line-height: 62px;
    background-image: url('../../img/x_check.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    position: absolute;
    top: 13px;
    left: 0px;
    display: inline-block;
    cursor: pointer;
}

.user-giving-score {
    height: 35px;
    width: 35px;
    line-height: 62px;
    background-image: url('../../img/profile_heart.png');
    background-repeat: no-repeat;
    /*background-position: center;*/
    background-size: 70px 35px;
    position: absolute;
    top: 13px;
    left: 0px;
    display: inline-block;
    cursor: pointer;
}

.user-giving-score-done {
    background-position-x: -37px;
}

.user-profile-item input, .user-profile-item select {
    border: 0;
    width: 40%;
    height: 35px;
    line-height: 35px;
    float: none;
    
}

.user-profile-item input[type=text] {
    outline: -webkit-focus-ring-color auto 5px;
}

.user-profile-name.user-profile-item {
    /*background-color: White;
    color: Black;*/
    border-top: 1px solid gray;
}

.user-profile-other-user-zone {
    width: 100%;
    height: 151px;
    /*border-top: 2px solid gray;*/
    margin: auto;
    padding-bottom: 5px;
    padding-top: 10px;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    position: relative;
    overflow-y: hidden;
    padding-right: 5px;
    direction: ltr;
    background-color: #ecf8ff;
}

.user-profile-other-user-wrapper {
    width: 440px;
    position: relative;
}

.user-profile-other-user-activity {
    width: 125px;
    height: 120px;
    box-shadow: 0px 0px 4px rgba(50, 50, 50, 0.75);
    position: relative;
    top: 0px;
    font-size: 10px;
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
    vertical-align: top;
    background-color: white;
}

.user-profile-other-user-activity figure.author-image {
    /* position: absolute; */
    top: 5px;
    right: 5px;
    float: right;
}

.user-profile-other-user-symbol {
    height: 25px;
    width: 25px;
    background-image: url('../../img/last_event.png');
    background-repeat: no-repeat;
    background-size: 75px 25px;
    position: absolute;
    top: 10px;
    left: 30px;
}

.other-user-symbol-userLike {
    background-position-x: -50px;
}

.other-user-symbol-comment {
    background-position-x: -25px;
}

.user-profile-other-user-activity .author-name {
    display: inline-block;
    /* margin-right: 58px; */
    font-weight: bold;
    float: none;
    text-overflow: ellipsis;
    width: 60px;
    overflow: hidden;
    white-space: nowrap;
    line-height: normal;
    font-size: 10px;
    direction: rtl;
    margin-top: 40px;
    position: absolute;
    margin-bottom: 10px;
    right: 47px;
}

.user-profile-other-user-content {
    /*position: relative;
    top: -25px;*/
    margin-right: 10px;
    margin-left: 10px;
    text-align: justify;
    height: 40px;
    overflow: hidden;
    direction: rtl;
    margin-top: 65px;
}

.user-recent-activity-zone {
    padding-top: 10px;
    padding-bottom: 15px;
    border-bottom: 0px solid gray;
    width: 100%;
    margin: auto;
    background-color: #ecf8ff;
}

.user-recent-activity-title {
    width: 100%;
    height: 31px;
    margin: auto;
    position: relative;
    color: #2f343b;
    line-height: 47px;
    font-weight: bold;
    text-align: center;
    background-color: #ecf8ff;
    border-top: 4px solid #fff;
    padding-top: 0px;
}

.user-recent-activity {
    width: 90%;
    height: 50px;
    margin: auto;
    margin-top: 13px;
    box-shadow: 0px 0px 4px rgba(50, 50, 50, 0.75);
    color: #2f343b;
    font-weight: bold;
    position: relative;
    padding-right: 50px;
    line-height: 50px;
    cursor: pointer;
    background-color: white;
}

.user-recent-activity-logo {
    height: 35px;
    width: 35px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    position: absolute;
    top: 7.5px;
    right: 7.5px;
}

.user-recent-activity-arrow {
    height: 20px;
    width: 20px;
    background-image: url('../../img/arrow_user.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    position: absolute;
    top: 15px;
    left: 15px;
    transform: rotate(0deg);
    -webkit-transform:rotate(0deg);
    -moz-transform:rotate(0deg); 
    -o-transform:rotate(0deg);
}

.user-recent-activity-arrow-up {
    transform: rotate(180deg);
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg); 
    -o-transform:rotate(180deg);
}

.user-recent-activity-zone .post-tab {
    margin: 20px auto 20px auto;
    width: 90%;
}

.user-recent-activity-zone .post-footer {
    width: 235px;
}

.user-recent-activity-zone span.respond-post, .user-recent-activity-zone span.like-post, .user-recent-activity-zone span.respond-count, .user-recent-activity-zone span.like-count{
    width: 57px;
}

.post-title {
    color: rgb(0, 109, 190);
    box-sizing: border-box;
    padding-right: 12px;
    display: inline-block;
    line-height: 19px;
    font-size: 15px;
    max-height: 45px;
    padding-top: 7px;
    overflow: hidden;
    font-weight: bold;
    /*position: absolute;
    bottom: 17px;*/
    width: 66%;
    right: 35px;
}

div.post-main-text.article-text-content {
    font-size: 12px;
    /*height: 49px;*/
    overflow: hidden;
    line-height: 12px;
    margin-top: 5px;
}

.user-recent-activity-zone .meme-container, .user-recent-activity-zone .meme-container.large {
    width: 90%;
    float: none;
    margin: 6px auto;
}

.user-recent-activity-zone .list-tube {
    width: 90%;
    margin: 15px auto;
}

.vote-to-poll {
    /*text-align: center;*/
    font-weight: bold;
}

.vote-to-poll-title {
    padding-top: 10px;
    padding-bottom: 5px;
}

.user-profile-logout-btn {
    width: 50%;
    height: 70%;
    background-color: #2f343b;
    line-height: 36px;
    color: white;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 0;
    border-radius: 10px;
}


div.editImg {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: #828282; */
}

#cropDiv1 {
    /*width: 300px !important;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-height: 250px !important;
}

#cropDiv1 img {
    max-width: 300px;
}

canvas#c1 {
    clear: both;
    float: left;
}

.cat-Approve {
    float: left;
    width: 70% !important;
    margin-left: 3%;
    height: 44px !important;
}

.cat-cancel {
    float: right;
    width: 70% !important;
    height: 44px;
    margin-right: 3%;
}

.userImg {
    border-radius: 100%;
    clear: both;
    margin: 0px auto 20px auto;
    width: 80px;
    height: 80px;
    display: block;
    border: 1px solid #42484e;
}

canvas {
    visibility: hidden;
}

#instruction-for-image {
    width: 100%;
    text-align: center;
    margin: 5px 0px 15px 0px;
    color: #bcccce;
}

#cropDiv1 .jcrop-holder {
    margin: 0px auto 22px auto;
    width: 95%;
    /*min-height: 182px;
    margin-bottom: 22px;*/
}


#cropDiv1 .jcrop-holder img {
    /*position: absolute !important;
    top: 0px !important;
    left: 0px !important;
    margin: auto !important;
    right: 0px !important;
    bottom: 0px !important;*/
}

.button-side-img {
    width: 49%;
    height: 44px;
    display: inline-block;
    margin-top: 15px;
}

.background-button-img {
    background: #565c63;
    font-weight: 600;
    letter-spacing: 0.5px;
    border: 1px solid #42484e;
}

.user-profile-logout-btn.needsclick {
    height: 32px;
    
    line-height: 29px;
}

.profile-item-circle {
    position: absolute;
    
    top: 13px;
    left: 0px;
    height: 35px;
    width: 35px;
    border: 1px solid gray;
    border-radius: 30px;
}
.sign-in-popup.change-pass-popup {
    top: 20px;
}
