<link rel="stylesheet" type="text/css" href="./components/meme/meme.css" />
<link rel="stylesheet" type="text/css" href="./components/event/event.css" />
<link rel="stylesheet" media="screen and (min-width: 900px)" type="text/css" href="{{siteOrigin}}components/meme/meme.css" />
<link rel="stylesheet" media="screen and (min-width: 900px)" type="text/css" href="{{siteOrigin}}components/user/userProfile.css" />

<section id="user-profile" data-ng-if="buildPage">
    <div class="user-profile-avatar-zone">
        <div class="user-profile-avatar-wrapper">
            <div class="color-circle">
                <div class="user-profile-avatar" style="background-image: url({{profile().userImg}})" data-ng-click="takePicture()">
                </div>
            </div>
        </div>
    </div>
    <div class="user-profile-items">

        <div class="user-profile-name user-profile-item">
            <div class="user-edit-icon" data-ng-hide="editName || !myProfile" data-ng-click="editItem('name')"></div>
            <div class="user-item-text" data-ng-hide="editName">{{profile().firstName}} {{profile().lastName}}</div>
            <div class="user-edit-icon-v" data-ng-show="editName" data-ng-click="updateUserDetails('name')"></div>
            <input type="text" data-ng-model="editProfile.firstName" data-ng-show="editName" value="{{ profile().firstName }}">
            <input type="text" data-ng-model="editProfile.lastName" data-ng-show="editName" value="{{ profile().lastName }}">
            <div class="user-edit-icon-x" data-ng-show="editName" data-ng-click="editItem('name')"></div>
            <div class="profile-item-circle" data-ng-class="{'rank-image-0': profile().point.level == 0, 'rank-image-1': profile().point.level == 1, 'rank-image-2': profile().point.level == 2, 'rank-image-3': profile().point.level == 3, 'rank-image-4': profile().point.level == 4}" data-ng-hide="editName"></div>
        </div>

        <div class="user-profile-give-score user-profile-item" data-ng-show="!myProfile">
            <div>פנק אותו בניקוד</div>
            <div data-ng-click="givingScore()" data-ng-class="{'user-giving-score':true, 'user-giving-score-done': userLike==true}"></div>
        </div>

        <div class="pazam-item user-profile-item">
            <div>פז"ם: {{profile().registrationTime}} ימים</div>
        </div>

                    <!--<div class="user-profile-registration-date user-profile-item">
                                                                        <div>תאריך הרשמה: {{profile().registrationDate| date : 'dd.MM.yyyy'}}</div>
                                                                    </div>-->
        <div class="user-profile-scoring user-profile-item" data-ng-style="{'border-bottom':(myProfile?'1px solid gray':'none' )}">
            <!--<div class="user-giving-score" data-ng-class="{'user-giving-score-done': userLike}" data-ng-hide="myProfile" data-ng-click="givingScore()"></div>-->
            <div>ניקוד מצטבר: {{profile().point.count+0}}</div>
        </div>
        <div class="user-profile-gender user-profile-item" data-ng-show="myProfile">
            <div class="user-edit-icon" data-ng-hide="editGender" data-ng-click="editItem('gender')"></div>
            <div data-ng-hide="editGender">{{profile().gender}}</div>
            <div class="user-edit-icon-v" data-ng-show="editGender" data-ng-click="updateUserDetails('gender')"></div>
            <!--<input type="text" data-ng-model="profile().gender" data-ng-show="editGender" value="{{profile().gender}}">-->
            <select data-ng-show="editGender" data-ng-model="editProfile.gender">
                <option value="נקבה">נקבה</option>
                <option value="זכר">זכר</option>
            </select>
            <div class="user-edit-icon-x" data-ng-show="editGender" data-ng-click="editItem('gender')"></div>
        </div>

        <div class="user-profile-mail user-profile-item" data-ng-show="myProfile">
            <!--<div class="user-edit-icon" data-ng-hide="editEmail" data-ng-click="editItem('email')"></div>-->
            <div class="user-item-text" data-ng-hide="editEmail">{{profile().email}}</div>
                            <!--<div class="user-edit-icon-v" data-ng-show="editEmail"></div>
                                                                                                                                                                                                            <input type="text" data-ng-model="profile().email" data-ng-show="editEmail" value="{{profile().email}}">
                                                                                                                                                                                                            <div class="user-edit-icon-x" data-ng-show="editEmail" data-ng-click="editItem('email')"></div>-->
        </div>

        <div class="user-profile-address user-profile-item" data-ng-show="myProfile">
            <div class="user-edit-icon" data-ng-hide="editAddress" data-ng-click="editItem('address')"></div>
            <div class="user-item-text" class="user-edit-icon" data-ng-hide="editAddress" data-ng-click="editItem('address')"></div>
            <div class="user-item-text" data-ng-hide="editAddress" placeholder="כתובת">{{profile().address}}</div>
            <div class="user-edit-icon-v" data-ng-show="editAddress" data-ng-click="updateUserDetails('address')"></div>
            <input type="text" data-ng-model="editProfile.address" data-ng-show="editAddress" value="{{profile().address}}">
            <div class="user-edit-icon-x" data-ng-show="editAddress" data-ng-click="editItem('address')"></div>
        </div>

        <div class="user-profile-phone user-profile-item" data-ng-show="myProfile">
            <div class="user-edit-icon" data-ng-hide="editPhone" data-ng-click="editItem('phone')"></div>
            <div class="user-item-text" data-ng-hide="editPhone">{{profile().phone}}</div>
            <div class="user-edit-icon-v" data-ng-show="editPhone" data-ng-click="updateUserDetails('phone')"></div>
            <input type="text" data-ng-model="editProfile.phone" data-ng-show="editPhone" value="{{profile().phone}}">
            <div class="user-edit-icon-x" data-ng-show="editPhone" data-ng-click="editItem('phone')"></div>
        </div>

        <div class="user-profile-phone user-profile-item" data-ng-show="myProfile" style="border-bottom:none;">
            <div class="user-edit-icon" data-ng-click="editItem('password')"></div>
            <div>שינוי סיסמה</div>
        </div>

        <div class="user-profile-other-user-zone" data-ng-hide="getOtherUsersActivity().length == 0 || getOtherUsersActivity().length == undefined">
            <div class="user-profile-other-user-wrapper" style="width: {{getOtherUsersActivity().length*140}}px">
                <div data-ng-repeat="activity in getOtherUsersActivity()" class="user-profile-other-user-activity" data-ng-click="goToSinglePage(activity, activity.type != 'userLike')">
                    <figure class="author-image" data-ng-click="goToSinglePage(activity, false);$event.stopPropagation();">
                        <div class="author-background-image" data-once-style="{'background-image':'url('+(activity.user.data.img.RelativePosition? domain+activity.user.data.img.url : activity.user.data.img.url)+')'}"></div>
                        <div class="author-rank-image-zone">
                            <div class="author-rank-image" data-ng-class="{'author-rank-image-0': activity.user.data.point.level == 0, 'author-rank-image-1': activity.user.data.point.level == 1, 'author-rank-image-2': activity.user.data.point.level == 2, 'author-rank-image-3': activity.user.data.point.level == 3, 'author-rank-image-4': activity.user.data.point.level == 4}"></div>
                        </div>
                    </figure>
                    <div class="user-profile-other-user-symbol" data-ng-class="{'other-user-symbol-like': activity.type == 'like', 'other-user-symbol-like': activity.type == 'userLike', 'other-user-symbol-comment': activity.type == 'comment'}"></div>
                    <span class="author-name" data-author="{{post._author}}" once-text="(activity.user.data.firstName)+' '+(activity.user.data.lastName)"><!-- {{activity.user.data.firstName}} {{activity.user.data.lastName}} --></span>
                    <div class="user-profile-other-user-content" data-ng-init="textForView(activity)" once-text="activity.textView"><!-- {{activity.textView}} --></div>
                    <!--<div class="user-profile-other-user-content" data-ng-show="activity.type == 'userLike'">העריך אותך</div>-->
                </div>

            </div>
        </div>



        <div class="user-recent-activity-title">הפעולות האחרונות</div>
        <div class="user-recent-activity-zone">
            <div data-ng-repeat="feature in featuresList track by $index">
                <div class="user-recent-activity" data-ng-click="openRecentActivity(feature.postType)">
                    <div class="user-recent-activity-logo" data-once-style="{'background-image': 'url('+feature.featureLogo+')'}"></div>
                    <div class="user-recent-activity-arrow" data-ng-class="{'user-recent-activity-arrow-up': currentPost == feature.postType}"></div>
                    {{feature.featureName}}
                </div>
                <post data-ng-repeat="post in posts()" data-post-type="{{post.postType}}" data-ng-show="currentPost == feature.postType"></post>
                <div class="spiner-zone" data-ng-show="currentPost == feature.postType && showSpiner()">
                    <div class="loader"></div>
                </div>
                <div class="user-recent-activity-title" data-ng-class="{'none-activity': true}" data-ng-show="currentPost == feature.postType && !showSpiner() && posts().length == 0">אין למשתמש פעילות באזור זה</div>
            </div>
        </div>
        <div class="user-profile-item" data-ng-show="myProfile">
            <input type="button" class="user-profile-logout-btn" data-ng-click="userLogout()" value="התנתק">
        </div>
    </div>

    <!-- edit img popup -->
    <div data-ng-show="editImg" class="editImg profileEditImg">
        <div class="sign-in-close-zone">
            <div class="close-sign-in close" data-ng-click="editCancel()"></div>
        </div>
        <div id="instruction-for-image">הזז, הגדל והקטן למיקוד התמונה</div>
                    <!--<div id="cropDiv1">
                                                                        <img data-ng-src="{{userimg}}">
                                                                    </div>-->
        <div class="cropArea">
            <img-crop image="userimg" result-image="myCroppedImage"></img-crop>
        </div>
        <div class="button-side-img">
            <button id="button_ok1" class="cat-Approve background-button-img" data-ng-click="editDone()">אשר</button>
        </div>
        <div class="button-side-img">
            <button id="button_cancel1" class="cat-cancel background-button-img" data-ng-click="editCancel()">בטל</button>
        </div>
        <canvas id="c1"></canvas>
        <div class="color-line color-line-button"></div>

    </div>
    <img src="http://www.galim.org.il/pools/files/GalimGifs/GalimGifPicture/12888.jpg" sb-load="loaded($event)" style="display: none;"/><!--hack- for triggering event of dom loaded-->
</section>

<!-- popup- change password -->
<div class="sign-in-popup change-pass-popup" data-ng-show="showChangePassword">
    <div class="close-sign-in" data-ng-click="closeChangePassword()"></div>
    <div class="password-recovery-title">שינוי סיסמה:</div>
    <input type="password" class="sign-in-field sign-in-password" data-ng-class="{loginErrorActive: showOldPassError}" placeholder="הזן סיסמה נוכחית" data-ng-model="oldPass">
    <input type="password" class="sign-in-field sign-in-password" data-ng-class="{loginErrorActive: showPassError || showPassAuthenticationError}" placeholder="הזן סיסמה חדשה" data-ng-model="newPass">
    <input type="password" class="sign-in-field sign-in-password" data-ng-class="{loginErrorActive: !showPassError && showPassAuthenticationError}" placeholder="אמת סיסמה חדשה" data-ng-model="passAuthentication">
    <div class="login-error" data-ng-show="showOldPassError">* יש להזין סיסמה נוכחית</div>
    <div class="login-error" data-ng-show="showPassError">* יש להזין סיסמה בת 6 תווים לפחות</div>
    <div class="login-error" data-ng-show="!showPassError && showPassAuthenticationError">* אימות הסיסמה שונה מהסיסמה שבחרת</div>
    <div class="login-error" data-ng-show="passErrorInServer">* {{passErrorMessage}}</div>
    <input type="button" class="sign-in-btn" value="אשר" data-ng-click="sendNewPassword()">

</div>

