.posts-list{
    padding-bottom: 30px;
}

.posts-list.memes{
    padding: 8px 10px;
height: 100%;
width: 320px;
margin: auto;
/*width: 320px;*/
}

.meme-container {
   
    position: relative;
float: right;
margin: 6px;
width: 29%;
border-radius: 3px;
background-color: #535c63;
overflow: hidden;
}
.meme-dummy {
    padding-top: 100%; /* 4:3 aspect ratio */
     
}
.meme-element {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
   background-image: url('/img/image/meme_small.png');
background-size: contain;
background-repeat: no-repeat;
background-position: center;
margin: 2px;
}

.meme-container.large{
    width: 62%;
     
}
.large .meme-element
{
    background-image: url('/img/image/meme_big.png');
}
.meme-container.q6{
    clear: both;
float: left;
margin-left: 9px;
}

.meme-like{
    position: absolute;
min-width: 36%;
z-index: 2;
top: 30%;
height: 37px;
width: auto;
overflow: hidden;
max-width: 100%;
}
.large .meme-like{
    width: 20%;
}
.opacity{
  width: 100%;
height: 100%;
opacity: 0.7;
background-color: #535c63;
position: absolute;
}
.icon{
background-image: url('../../img/heart_meme.png');
background-repeat: no-repeat;
background-size: 34px 15px;
background-position-x: 1px;
background-position-y: 1px;
height: 16px;
width: 17px;
display: block;
margin: auto;
position: relative;
z-index: 3;
/* top: 4px; */
right: 0;
left: 0;
margin-top: 4px;
}

.num{
   display: block;
margin: auto;
position: relative;
z-index: 3;
right: 0;
left: 0;
font-size: 11px;
color: white;
text-align: center;
z-index: 3;
margin-top: 3px;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}

.instruction{
    height: 42px;
width: 100%;
line-height: 42px;
color: white;
text-align: center;
}

.suggested-images-wrap{
 width: 100%;
height: 197px;
overflow-x: scroll;
overflow-y: hidden;
}
.images-window{
	
	/* width: 620px; */
	position:relative;
	height: 100%;
	overflow-y: hidden;
	overflow-x: auto;
	white-space: nowrap;
	padding-right: 5px;
}

.suggested-images-up{

	position: absolute;
	top: 0;
	right: 0;
    overflow: hidden;
}

.suggested-images-down{

	position: absolute;
	bottom: 0;
	right: 0;
    overflow: hidden;
}

.meme-element2{
    background-size: contain;
background-repeat: no-repeat;
background-position: center;
/* margin: 5px; */

border-radius: 3px;
background-color: #535c63;
overflow: hidden;
height: 91px;
width: 91px;
/* padding: 3px; */

border: 2px solid #535c63;
display: inline-block;
margin: 3px;
margin-bottom: 6px;
}
/*.meme-container2{
    border-radius: 3px;
background-color: #535c63;
overflow: hidden;
 height: 91px;
    width:91px; 
}*/

/* .double-container{
    width: 100%;
height: auto;
display: block;
    } */

.chosenImg{
  width: 180px;
height: 180px;
/* clear: both; */
/* left: 0; */
/* right: 0; */
float: none;
margin: auto;
border: none;
}

.chosenImg .meme-container{
width: 180px;
height: 180px;
float: none;
margin: auto;
border-radius: 0;
/* padding: 7px; */
margin-top: 47px;
/* position: relative; */
/* box-sizing: border-box; */
border: 2px solid #535c63;
}

.immulate-text{
    position: absolute;
    left: 0;
right: 0;
text-align: center;
font-weight: bold;

text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}
.immulate-text.top{
    top: 0;
padding: 10px 5px 0px 5px;
height: 90%;


}
.immulate-text.bottom{
    bottom: 0;
    padding: 0px 5px 10px 5px;
    
    

}

.size1{
    font-size: 26px;
}
.size2{
      font-size: 20px;
}
.size3{
      font-size: 20px;
}

.add-file{
margin-top: 13px;
height: 45px;
position: relative;
padding: 0px 28px;
}
.edit-text-wrap{
    
padding: 0px 28px;
}

.font{
    height: 33px;
position: relative;
}

.text-wrap{
    margin-top: 12px;
    position: relative;
}

input{
  border: none;
line-height: 23px;
height: 23px;
}
.colorpicker-wrap{
    width: 32px;
height: 32px;
background: #E4E4E4;
color: #695B5B;
border-radius: 6px;
cursor: pointer;
line-height: 30px;
position: relative;
padding: 7px;
position: absolute;
}
.colorpicker{
    width: 100%;
height: 100%;
opacity: 0;
position: absolute;
top: 0;
}   

.file-text{
    margin-right: 43px;
}

.square{
    width: 100%;
height: 100%;
background-color: #587db4;
/* margin: 5px; */
position: relative;
box-shadow: 0px 0px 1px gray;
}

.rtl{
    background-image: url('/img/right_to_left.png');
    background-repeat: no-repeat;
    background-size: 200% 100%;
    background-color: transparent;
   position: absolute;
top: 0;
cursor: pointer;
}
.rtl-active{
   background-position: -32px;
   background-color: #2f343b;
}


.ltr{
    background-image: url('/img/left-to-right.png');
    background-repeat: no-repeat;
    background-size: 200% 100%;
    background-color: transparent;
    position: absolute;
top: 0;
cursor: pointer;
right: 42px;
}
.ltr-active{
   background-position: -32px;
   background-color: #2f343b;
}

.font .file-text{
    margin-right: 85px;
    overflow: hidden;
}


.button{
    font-size: 21px;
    font-family: Calibri 
}

.widthCon{
   width: 180px;
height: auto;
top: 0;
bottom: 0;
position: absolute;
margin: auto;
}
.heightCon{
  width: auto;
height: 180px;
margin: auto;
display: block;
}

.preview-wrap{
   width: 95%;
margin: auto;
border: 0px solid #535c63;
/* border-radius: 31px; */
padding: 2px;
background-color: #535c63;
margin-top: 24px;

}
#previewImg{
    width: 200%;
}
.buttons-wrap{
   width: 80%;
   margin: auto; 
   text-align: center;
}
.buttons-wrap div{
    display: inline-block;
    
}
.buttons-wrap div:first-child{
    margin-left: 10px;
}
.top-part{
    height: 239px;
    overflow: hidden;
}
.button{
    margin-top: 14px;
}


/*single meme*/

.single-meme{
    height: 100%;

}
.single{
    width: 95%;
margin: auto;
display: block;
padding-top: 30px;
}

.like-section .icon{
    height: 44px;
width: 53px;
}

.single-meme figure.author-image{
   top: 6px;
margin-right: 23px;}

.single-meme .author-name
{
    color: white;
font-size: 10px;
line-height: 10px;
/* bottom: 9px; */
position: relative;
margin-top: 43px;
}
.author-wrap{
    height: 70px;
background-color: #808080;
bottom: 0px;
position: absolute;
width: 100%;
}