<link rel="stylesheet" type="text/css" href="./components/meme/meme.css" />
<link rel="stylesheet"  media='screen and (min-width: 900px)' type="text/css" href="{{siteOrigin}}components/meme/meme.css" />
<div class="sub-header" id="feature-header" data-ng-class="{'site-sub-header':isSiteHeader==true}" data-ng-click="writeMeme()">
    <div  style="background-color: #ffd427;">
    המם שלי
    </div>
    <div class="white-line"></div>
</div>

<div class="posts-list">
    <div class="preview-wrap">
        <!--<img id="previewImg" data-ng-src="{{previewBase64}}" />-->

        <div class="chosenImg top-part"  data-ng-show="postImg != ''">
         <div class="meme-wrap meme-container"  id="html2canvas" >
             <img id="chosenImg" class=""   src="{{postImg}}" />
            <div class="immulate-text top"  data-ng-class="{'size1':topText.length <=11, 'size2':(topText.length >11 && topText.length <=20),'size3':topText.length >20}"  data-ng-style="{'color':getColor('top'),'font-family':font}">{{topText}}</div>
             <div class="immulate-text bottom"   data-ng-class="{'size1':bottomText.length <=11, 'size2':(bottomText.length >11 && bottomText.length <=20),'size3':bottomText.length >20}"  data-ng-style="{'color':getColor('bottom'),'font-family':font}">{{bottomText}}</div>
        </div>
    </div>
    </div>
    <div class="buttons-wrap">
        <div class="button" data-ng-click="publishMeme()" data-ng-style="{'background-color': '{{featureDetails.featureColor}}'}">פרסם</div>
    <div class="button" data-ng-show="fslse" data-ng-click="saveMeme()" data-ng-style="{'background-color': '{{featureDetails.featureColor}}'}">שמור</div>
    </div>
    <div class="login-error" data-ng-if="showSendPostError">* {{sendPostError}}</div>
    
</div>
