@import url("large-for-meme.css") only screen and (min-width:481px);

@media only screen and (min-device-width: 480px) and (max-device-width: 1024px) {
    @import "large-for-meme.css";
}

#write-meme-wrap {
    padding-bottom: 30px;
}

.posts-list.memes {
    height: 100%;
    width: 297px;
    margin: auto;
    padding-bottom: 100px;
    /*width: 320px;*/
}

/*.posts-list.memes .spiner-zone {
    z-index: 2;
    position: fixed;
    bottom: 41px;
    left: 0;
    right: 0;
}*/

.end-load-more {
    top: -98px;
}

.meme-container {
    position: relative;
    float: right;
    margin: 6px;
    width: 87px;
    border-radius: 3px;
    /*background-color: #d4deec;*/
    overflow: hidden;
}

#chosenImg {
    width: 100%;
}

.write-meme-wrap {
    display: inline-block;
    position: relative;
    width: 100%;
    height: auto;
}

.meme-dummy {
    padding-top: 100%; /* 4:3 aspect ratio */
}

.meme-element {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('/img/image/meme_small.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /*margin: 2px;*/
    background-size: cover;
    height: 100%;
    width: 100%;
    /* display: block; */
}


.meme-element-back {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
	/* background-color:#D4DEEC;  */
	/* background-color:#84888C;  */
	background-image: url('../../img/pj.jpg'); 
	background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
	z-index: 4;
}

.meme-container.large {
    width: 186px;
}

.large .meme-element {
    background-image: url('/img/image/meme_big.png');
}

.meme-container.q6 {
    clear: both;
    float: left;
}

.meme-like {
    position: absolute;
    z-index: 2;
    top: 30%;
    width: 34px;
    height: 30px;
    overflow: hidden;
    max-width: 100%;
    right: 0;
}

.large .meme-like {
    width: 40px;
    height: 30px;
    top: 42%;
}

.opacity {
    width: 100%;
    height: 100%;
    opacity: 0.7;
    background-color: #535c63;
    position: absolute;
}

.icon {
    background-image: url('../../img/heart_meme.png');
    background-repeat: no-repeat;
    background-size: 34px 15px;
    background-position-x: -17px;
    background-position-y: 1px;
    height: 15px;
    width: 17px;
    display: block;
    margin: auto;
    position: relative;
    z-index: 3;
    /* top: 4px; */
    right: 0;
    left: 0;
    margin-top: 1px;
}

.meme-like-icon-isLike {
    background-position-x: 1px;
}

.num {
    display: block;
    margin: auto;
    position: relative;
    z-index: 3;
    right: 0;
    left: 0;
    font-size: 9px;
    color: white;
    text-align: center;
    z-index: 3;
    margin-top: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.instruction {
    height: 42px;
    width: 100%;
    line-height: 42px;
    color: white;
    text-align: center;
}

.suggested-images-wrap {
    width: 100%;
    height: 200px;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-y: hidden;
    z-index: 1000;
}

.images-window {
    overflow-y: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    height: 400px;
    /* height: 236px; */
    /* white-space: nowrap; */
    direction: ltr;
    /* position: absolute; */
    /* bottom: 0px; */
    /* right: 0px; */
    /* padding-right: 15px; */
    margin: 0;
    /*position: relative;
    height: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
    padding-right: 5px;*/
}

.suggested-images-up {
    position: relative;
    width: 700px;
    height: 97px;
    /* background-color: red; */
    /* height: 102px; */
    /* position: relative; */
    /* z-index: 10000; */
    /* direction: ltr; */
    /* color: black; */
    /*top: 0;
right: 0;
overflow: hidden;
width: 679px;*/
}

.suggested-images-down {
    position: relative;
    width: 700px;
    height: 102px;
    /*position: absolute;
    bottom: 0;
    right: 0;
    overflow: hidden;
    width: 679px;*/
}

.nav.nav-tabs {
    -webkit-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.55);
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.55);
    position: relative;
    z-index: 1;
}

.meme-element2 {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 3px;
    background-color: #535c63;
    overflow: hidden;
    height: 91px;
    width: 91px;
    border: 2px solid #535c63;
    display: inline-block;
    margin: 3px;
    margin-bottom: 6px;
    position: relative;
}
/*.meme-container2{
    border-radius: 3px;
background-color: #535c63;
overflow: hidden;
 height: 91px;
    width:91px; 
}*/

/* .double-container{
    width: 100%;
height: auto;
display: block;
    } */

.chosenImg {
    width: 100%;
    height: 180px;
    /* clear: both; */
    /* left: 0; */
    /* right: 0; */
    float: none;
    margin: auto;
    border: none;
    padding: 10px 15px;
}

.chosenImg .meme-container {
    width: 180px;
    height: 180px;
    float: none;
    margin: auto;
    border-radius: 0;
    /* padding: 7px; */
    margin-top: 14px;
    /* position: relative; */
    /* box-sizing: border-box; */
    border: 2px solid #535c63;
}

.immulate-text {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    font-weight: bold;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

.immulate-text.top {
    top: 0;
    padding: 10px 5px 0px 5px;
    height: 90%;
}

.immulate-text.bottom {
    bottom: 0;
    padding: 0px 5px 10px 5px;
}

.size1 {
    font-size: 26px;
}

.size2 {
    font-size: 20px;
}

.size3 {
    font-size: 18px;
}

.add-file {
    margin-top: 13px;
    height: 45px;
    position: relative;
    width: 291px;
    padding: 0px 0px;
    margin: auto;
}

.edit-text-wrap {
    width: 291px;
    padding-right: 0;
    padding-left: 0;
    margin: auto;
}

.font {
    height: 33px;
    position: relative;
}

.text-wrap {
    margin-top: 12px;
    position: relative;
}

input {
    border: none;
    line-height: 23px;
    height: 23px;
}

.colorpicker-wrap {
    width: 35px;
    height: 35px;
    background: white;
    color: #695B5B;
    border-radius: 6px;
    cursor: pointer;
    line-height: 30px;
    position: relative;
    padding: 5px;
    position: absolute;
    padding-top: 6px;
}

.colorpicker {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
}

.color-picker-palette {
    width: 161px;
    height: 77px;
    position: absolute;
    z-index: 3;
    background-color: white;
    box-shadow: 1px 1px 1px 1px black;
    right: 16%;
}

.col {
    width: 30px;
    height: 30px;
    margin: 5px 5px 0px 5px;
    display: inline-block;
    box-shadow: 0px 0px 1px 1px gray;
}

.file-text {
    margin-right: 43px;
    /*margin-right: 0px;*/
}

.square {
    width: 100%;
    height: 100%;
    background-color: #587db4;
    /* margin: 5px; */
    position: relative;
    background-color: rgb(255, 255, 255);
    background-image: url('../../img/colPicker.png');
    background-size: 100%;
    box-shadow: none;
}

.rtl {
    background-image: url('/img/right_to_left.png');
    background-repeat: no-repeat;
    background-size: 200% 100%;
    background-color: transparent;
    position: absolute;
    top: 0;
    cursor: pointer;
}

.rtl-active {
    background-position: -32px;
    background-color: #2f343b;
}


.ltr {
    background-image: url('/img/left-to-right.png');
    background-repeat: no-repeat;
    background-size: 200% 100%;
    background-color: transparent;
    position: absolute;
    top: 0;
    cursor: pointer;
    right: 42px;
}

.ltr-active {
    background-position: -32px;
    background-color: #2f343b;
}

.font .file-text {
    /*margin-right: 85px;
    overflow: hidden;*/
    margin-right: 0;
    overflow: hidden;
    text-indent: 20px;
    width: 291px;
    height: 36px;
}


.button {
    font-size: 15px;
}

.widthCon {
    width: 180px;
    height: auto;
    margin: auto;
    display: block;
    top: 0;
    bottom: 0;
    position: absolute;
}

.heightCon {
    width: auto;
    height: 180px;
    margin: auto;
    display: block;
}

.preview-wrap {
    width: 95%;
    margin: auto;
    border: 0px solid #535c63;
    /* border-radius: 31px; */
    padding: 2px;
    background-color: transparent;
    margin-top: 24px;
    min-height: 300px;
}

#previewImg {
    width: 200%;
}

.buttons-wrap {
    width: 80%;
    margin: auto;
    text-align: center;
}

.buttons-wrap div {
    display: inline-block;
}

.button.transition {
    width: 177px;
}

.buttons-wrap div:first-child {
    margin-left: 10px;
}

.top-part {
    height: auto;
    overflow: hidden;
}

.button {
    margin-top: 14px;
}


/*single meme*/

.single-meme {
    height: 100%;
    overflow-y: scroll;
}

.single-meme .like-section-icon {
    background-image: url('../../img/heart_meme_Yellow.png');
}

.single {
    width: 95%;
    margin: auto;
    display: block;
    padding-top: 52px;
}

.like-section {
    text-align: center;
    margin-top: 10px;
    width: 100%;
    margin: auto;
    margin-top: 9px;
    margin-bottom: 20px;
}

.like-section-icon {
    background-image: url('../../img/heart_meme.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 40px;
    width: 40px;
    display: inline-block;
    vertical-align: middle;
    background-position-x: -49px;
    cursor: pointer;
}

.like-section-icon-isLike {
    background-position-x: -3px;
}

.like-section-num {
    display: block;
    vertical-align: middle;
    font-size: 16px;
    color: #000000;
    font-weight: bold;
}



/*.single-meme figure.author-image{
   top: 6px;
margin-right: 23px;}

.single-meme .author-name
{
    color: white;
font-size: 10px;
line-height: 10px;

position: relative;
margin-top: 43px;
}
.author-wrap{
    height: 70px;
background-color: #808080;
bottom: 0px;
position: absolute;
width: 100%;
}*/

.preview-wrap .chosenImg .meme-container {
    margin-top: 0;
    background-color: transparent;
    display: inline-block;
    position: relative;
    width: 100%;
    height: auto;
    border: none;
}

.preview-wrap .top-part {
    height: auto;
    width: 100%;
}

.preview-wrap .widthCon {
    width: 100%;
}

.preview-wrap .heightCon {
    height: 100%;
}

.preview-wrap .size1 {
    font-size: 38px;
}

.preview-wrap .size2 {
    font-size: 34px;
}

.preview-wrap .size3 {
    font-size: 30px;
}

.add-file-text {
    color: #9E9E9E;
}


/*.plus:after{
    position: absolute;
    height: 100%;
    top: 0px;
    content: "צרף תמונה";
    padding-top: 1px;
    color: #9E9E9E;
    padding-right: 45px;
    width: 200px;
    font-size: 15px;
    text-align: right;
    font-weight: 500;
}*/
.text-wrap .file-text, .add-file .add-file-text {
    height: 36px;
    width: 250px;
}


#author-header {
    -webkit-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.55);
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.55);
}

#author-header .author-name {
    color: #000000;
}

.file-text, .add-file-text {
    margin-right: 41px !important;
}

.text-wrap .file-text input {
    height: 36px;
}

.add-file .plus {
    width: 35px;
    height: 35px;
}
select:not([size]):not([multiple]), select[size="0"], select[size="1"] {
    background-color: white;
}