<link rel="stylesheet" type="text/css" href="./components/meme/meme.css" />
<!--<link rel="stylesheet" media="screen and (min-width: 900px)" type="text/css" href="{{siteOrigin}}components/meme/meme.css" />-->
<ul class="nav nav-tabs" style="background-color:{{featureDetails.featureColor}}">
    <li style=""><a href="#Tab1" toggle="on" parent-active-class="active" data-ng-click="getPostsByAll()">הכל</a></li>
    <li style=""><a href="#Tab2" toggle="on" parent-active-class="active" data-ng-click="getPostsByViews()">הנצפים</a></li>
    <li style=""><a href="#Tab3" toggle="on" parent-active-class="active" data-ng-click="getPostsByFavorite()">האהובים</a></li>
</ul>

<div class="tab-content" data-ng-hide="true"><!--ignore this section- do not delete-->
    <div class="tab-pane" toggleable active-class="active" default="active" id="Tab1" exclusion-group="myTabs"></div>
    <div class="tab-pane" toggleable active-class="active" id="Tab2" exclusion-group="myTabs"></div>
    <div class="tab-pane" toggleable active-class="active" id="Tab3" exclusion-group="myTabs"></div>
</div>

<div class="posts-list memes" scroller loading-method="loadMore()" data-ng-if="buildPage">
    <post data-ng-repeat="post in posts" data-post-type="meme"></post>

    <div class="spiner-zone" data-ng-show="showSpiner()">
        <div class="loader" data-ng-class="{'general-loader':posts.length==0}"></div>

    </div>
    <div class="end-load-more" data-ng-if="showendloader == true">
        <img alt="end" src="./img/end_feed.png" />
        <div class="loadmore-endline"></div>
    </div>
    <div style="position: relative;float: right;height: 157px;width: 100%;"></div><!--hack - push end of list a few pixels to the top-->
</div>

<div class="sub-header special-sub-header" id="feature-header" data-ng-click="writeMeme()">
    <div class="inner-special-header" data-ng-style="{'background-color':featureDetails.featureColor}">
    צור מם
    </div>
</div>
