<link rel="stylesheet" type="text/css" href="./components/meme/meme.css" />
<link rel="stylesheet"  media='screen and (min-width: 900px)' type="text/css" href="{{siteOrigin}}components/meme/meme.css" />
<div class="single-meme">
    <author-header data-ng-repeat="post in [post()]"></author-header>
    <delete-post data-ng-if="isAdmin"></delete-post>
    <img class="single" data-ng-src="{{domain+post().img}}" />

    <div class="like-section">
        
        <div class="like-section-icon" data-ng-click='like($index)' data-ng-class="{'like-section-icon-isLike':post().isLiked==true}"></div>
        <div class="like-section-num">{{post().likesCount}}</div>
		
    </div>

   <!-- <div class="author-wrap">
        <figure class="author-image">
	    <div style="background-image:url('{{post._author.data.img.RelativePosition? domain+post._author.data.img.url : post._author.data.img.url}}')"></div>
          
        </figure>
        <span class="author-name" data-author="{{post._author}}" data-ng-click="PostService.userClicked();$event.stopPropagation();">הועלה על ידי {{post._author.data.firstName}} {{post._author.data.lastName}} </span>
        
    </div>-->
</div>
