<div class="chat-page" style="display: none;">
    <div class="white-line chat-white sub-header"></div>
    <div class="chat-external-background">
        <div class="chat-background">
            <div class="center-text-wrapper">
                <div class="chat-image"></div>
                <input type="button" class="chat-return-btn" value="צ'אט חי" style="cursor: default;" data-ng-style="{'background-color': featureDetails.featureColor}">
                <div class="chat-title" data-ng-style="{'color': featureDetails.featureColor}">בקרוב!</div>
            </div>
        </div>
    </div>
</div>
<div class="main-chat-header sub-header">
    צ'אט לא זמין
</div>

<!--archive title-->
<div class="chat-background-wrapper" style="display: none;">
    <div class="top-side-nextchat">
        <div class="right-side-nextchat next-chat-title">הצ'אט הקרוב יתקיים ביום חמישי עם יושב ראש...</div>
        <div class="right-side-nextchat next-chat-text">לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית קולהע צופעט למרקוח איבן איף, ברומץ כלרשט מיחוצים. קלאצ לתיג ישבעס.</div>
        <div class="next-chat-image">
            <div></div>
        </div>
    </div>
    <div class="archive-title">ארכיון צ'אטים</div>
    <div class="archive-component">
        <div class="archive-component-title">צ'אט עם הזמר אריאל זילבר</div>
        <div class="archive-component-text">לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית סחטיר בלובק. תצטנפל בלינדו למרקל אס לכימפו, דול, צוט ומעיוט - לפתיעם ברשג - ולתיעם גדדיש. קוויז דומור
        </div>
        <div class="archive-component-date">27.12.2014</div>
    </div>
    <div class="archive-component">
        <div class="archive-component-title">צ'אט עם הזמר אריאל זילבר</div>
        <div class="archive-component-text">לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית סחטיר בלובק. תצטנפל בלינדו למרקל אס לכימפו, דול, צוט ומעיוט - לפתיעם ברשג - ולתיעם גדדיש. קוויז דומור
        </div>
        <div class="archive-component-date">27.12.2014</div>
    </div>
    <div class="archive-component">
        <div class="archive-component-title">צ'אט עם הזמר אריאל זילבר</div>
        <div class="archive-component-text">לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית סחטיר בלובק. תצטנפל בלינדו למרקל אס לכימפו, דול, צוט ומעיוט - לפתיעם ברשג - ולתיעם גדדיש. קוויז דומור
        </div>
        <div class="archive-component-date">27.12.2014</div>
    </div>
    <div class="archive-component">
        <div class="archive-component-title">צ'אט עם הזמר אריאל זילבר</div>
        <div class="archive-component-text">לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית סחטיר בלובק. תצטנפל בלינדו למרקל אס לכימפו, דול, צוט ומעיוט - לפתיעם ברשג - ולתיעם גדדיש. קוויז דומור
        </div>
        <div class="archive-component-date">27.12.2014</div>
    </div>
    <div class="archive-component">
        <div class="archive-component-title">צ'אט עם הזמר אריאל זילבר</div>
        <div class="archive-component-text">לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית סחטיר בלובק. תצטנפל בלינדו למרקל אס לכימפו, דול, צוט ומעיוט - לפתיעם ברשג - ולתיעם גדדיש. קוויז דומור
        </div>
        <div class="archive-component-date">27.12.2014</div>
    </div>
    <div class="archive-component">
        <div class="archive-component-title">צ'אט עם הזמר אריאל זילבר</div>
        <div class="archive-component-text">לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית סחטיר בלובק. תצטנפל בלינדו למרקל אס לכימפו, דול, צוט ומעיוט - לפתיעם ברשג - ולתיעם גדדיש. קוויז דומור
        </div>
        <div class="archive-component-date">27.12.2014</div>
    </div>

</div>
<!--archive chat-->
<div class="chat-background-wrapper" style="display: none;">
    <div class="bubble-wrapper bubble-left">
        <div class="bubble-icon"></div>
        <div class="bubble">בדיקה של קטן</div>
    </div>
    <div class="bubble-wrapper bubble-right">
        <div class="bubble-icon"></div>
        <div class="bubble">בדיקה של טקסט ארוך בדיקה של טקסט ארוך בדיקה של טקסט ארוך בדיקה של טקסט ארוך</div>
    </div>
    <div class="bubble-wrapper bubble-left">
        <div class="bubble-icon"></div>
        <div class="bubble">sfsfs</div>
    </div>
    <div class="bubble-wrapper bubble-right">
        <div class="bubble-icon"></div>
        <div class="bubble">sfsfs</div>
    </div>
</div>
<!--benet chat-->
<div class="chat-background-wrapper" style="display: none;">
    <div class="bubble-wrapper bubble-left">
        <div class="bubble-icon"></div>
        <div class="bubble">בדיקה של קטן</div>
    </div>
    <div class="bubble-wrapper bubble-right">
        <div class="bubble-icon"></div>
        <div class="bubble">
            בדיקה של טקסט ארוך בדיקה של טקסט ארוך בדיקה של טקסט ארוך בדיקה של טקסט ארוך
            <div class="write-comment">כתוב תגובה...</div>
        </div>
    </div>
    <div class="bubble-wrapper bubble-left">
        <div class="bubble-icon"></div>
        <div class="bubble">sfsfs</div>
    </div>
    <div class="bubble-wrapper bubble-right">
        <div class="bubble-icon"></div>
        <div class="bubble">
            sfsfs
            <div class="write-comment">כתוב תגובה...</div>
        </div>

    </div>
</div>
<!--top side-->
<div class="" style="display: none;">
    <div class="top-side-wrapper">
        <div class="bubble-wrapper bubble-left">
            <div class="bubble-icon"></div>
            <div class="bubble">בדיקה של קטן</div>
        </div>
        <div class="bubble-wrapper bubble-right">
            <div class="bubble-icon"></div>
            <div class="bubble">
            בדיקה של טקסט ארוך בדיקה של טקסט ארוך בדיקה של טקסט ארוך בדיקה של טקסט ארוך
                <div class="write-comment">כתוב תגובה...</div>
            </div>
        </div>
    </div>
    <div style=" position: relative;background-color: #d4deec; overflow: auto; height: {{theHeight}}px;">
        <div class="bubble-wrapper bubble-left">
            <div class="bubble-icon"></div>
            <div class="bubble">בדיקה של קטן</div>
        </div>
        <div class="bubble-wrapper bubble-right">
            <div class="bubble-icon"></div>
            <div class="bubble">
            בדיקה של טקסט ארוך בדיקה של טקסט ארוך בדיקה של טקסט ארוך בדיקה של טקסט ארוך
                <div class="write-comment">כתוב תגובה...</div>
            </div>
        </div>
        <div class="bubble-wrapper bubble-left">
            <div class="bubble-icon"></div>
            <div class="bubble">sfsfs</div>
        </div>
        <div class="bubble-wrapper bubble-left">
            <div class="bubble-icon"></div>
            <div class="bubble">בדיקה של קטן</div>
        </div>
        <div class="bubble-wrapper bubble-right">
            <div class="bubble-icon"></div>
            <div class="bubble">
            בדיקה של טקסט ארוך בדיקה של טקסט ארוך בדיקה של טקסט ארוך בדיקה של טקסט ארוך
                <div class="write-comment">כתוב תגובה...</div>
            </div>
        </div>
        <div class="bubble-wrapper bubble-left">
            <div class="bubble-icon"></div>
            <div class="bubble">sfsfs</div>
        </div>
    </div>
    <div class="sub-header special-sub-header chat-sub-header" >
        מעוניין להשתתף בצ'אט? הצטרף כאן
        <div class="inner-special-header" data-ng-style="{'background-color':featureDetails.featureColor}">
   הצטרף
        </div>
    </div>
</div>
