<div class="chat-page" style="display: none;">
    <div class="white-line chat-white sub-header"></div>
    <div class="chat-external-background">
        <div class="chat-background">
            <div class="center-text-wrapper">
                <div class="chat-image"></div>
                <input type="button" class="chat-return-btn" value="צ'אט חי" style="cursor: default;" data-ng-style="{'background-color': featureDetails.featureColor}">
                <div class="chat-title" data-ng-style="{'color': featureDetails.featureColor}">בקרוב!</div>
            </div>
        </div>
    </div>
</div>
<div class="main-chat-header sub-header">
    צ'אט לא זמין
</div>
<div class="top-side-nextchat">
    <div class="right-side-nextchat next-chat-title">הצ'אט הקרוב יתקיים ביום חמישי עם יושב ראש...</div>
    <div class="right-side-nextchat next-chat-text">לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית קולהע צופעט למרקוח איבן איף, ברומץ כלרשט מיחוצים. קלאצ לתיג ישבעס.</div>
    <div class="next-chat-image">
        <div></div>
    </div>
</div>
