<div class="chat-page" style="display: none;">
    <div class="white-line chat-white sub-header"></div>
    <div class="chat-external-background">
        <div class="chat-background">
            <div class="center-text-wrapper">
                <div class="chat-image"></div>
                <input type="button" class="chat-return-btn" value="צ'אט חי" style="cursor: default;" data-ng-style="{'background-color': featureDetails.featureColor}">
                <div class="chat-title" data-ng-style="{'color': featureDetails.featureColor}">בקרוב!</div>
            </div>
        </div>
    </div>
</div>
<div class="main-chat-header sub-header">
    צ'אט לא זמין
</div>
<div style="display: none; height: 100%; background-color: #d4deec; overflow: auto; padding-bottom: 42px;">
    <div class="top-side-nextchat">
        <div class="right-side-nextchat next-chat-title">הצ'אט הקרוב יתקיים ביום חמישי עם יושב ראש...</div>
        <div class="right-side-nextchat next-chat-text">לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית קולהע צופעט למרקוח איבן איף, ברומץ כלרשט מיחוצים. קלאצ לתיג ישבעס.</div>
        <div class="next-chat-image">
            <div></div>
        </div>
    </div>
    <div class="archive-title">ארכיון צ'אטים</div>
    <div class="archive-component">
        <div class="archive-component-title">צ'אט עם הזמר אריאל זילבר</div>
        <div class="archive-component-text">לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית סחטיר בלובק. תצטנפל בלינדו למרקל אס לכימפו, דול, צוט ומעיוט - לפתיעם ברשג - ולתיעם גדדיש. קוויז דומור </div>
        <div class="archive-component-date">27.12.2014</div>
    </div>
     <div class="archive-component">
        <div class="archive-component-title">צ'אט עם הזמר אריאל זילבר</div>
        <div class="archive-component-text">לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית סחטיר בלובק. תצטנפל בלינדו למרקל אס לכימפו, דול, צוט ומעיוט - לפתיעם ברשג - ולתיעם גדדיש. קוויז דומור </div>
        <div class="archive-component-date">27.12.2014</div>
    </div>
     <div class="archive-component">
        <div class="archive-component-title">צ'אט עם הזמר אריאל זילבר</div>
        <div class="archive-component-text">לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית סחטיר בלובק. תצטנפל בלינדו למרקל אס לכימפו, דול, צוט ומעיוט - לפתיעם ברשג - ולתיעם גדדיש. קוויז דומור </div>
        <div class="archive-component-date">27.12.2014</div>
    </div>
     <div class="archive-component">
        <div class="archive-component-title">צ'אט עם הזמר אריאל זילבר</div>
        <div class="archive-component-text">לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית סחטיר בלובק. תצטנפל בלינדו למרקל אס לכימפו, דול, צוט ומעיוט - לפתיעם ברשג - ולתיעם גדדיש. קוויז דומור </div>
        <div class="archive-component-date">27.12.2014</div>
    </div>
     <div class="archive-component">
        <div class="archive-component-title">צ'אט עם הזמר אריאל זילבר</div>
        <div class="archive-component-text">לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית סחטיר בלובק. תצטנפל בלינדו למרקל אס לכימפו, דול, צוט ומעיוט - לפתיעם ברשג - ולתיעם גדדיש. קוויז דומור </div>
        <div class="archive-component-date">27.12.2014</div>
    </div>
     <div class="archive-component">
        <div class="archive-component-title">צ'אט עם הזמר אריאל זילבר</div>
        <div class="archive-component-text">לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית סחטיר בלובק. תצטנפל בלינדו למרקל אס לכימפו, דול, צוט ומעיוט - לפתיעם ברשג - ולתיעם גדדיש. קוויז דומור </div>
        <div class="archive-component-date">27.12.2014</div>
    </div>
    
</div>
<div>
    <div class="bob" style="margin-top: 20px;
margin-left: 20px;
margin-right: 20px;
position: relative;
margin-bottom: 20px;
height: 70px;
background-color: red;
border-radius: 17px;">sfsfs</div>
</div>