<link rel="stylesheet" type="text/css" href="./components/contact/contact.css" />
<link rel="stylesheet"  media='screen and (min-width: 900px)' type="text/css" href="{{siteOrigin}}components/contact/contact.css" />


<div class="sub-header" data-ng-class="{'site-sub-header':isSiteHeader==true}">
    <div data-ng-style="{'background-color': '{{featureDetails.featureColor}}'}">
    צור קשר
    </div>
    <div class="bottom-white-color"></div>
</div>

  <div class="contact-content-wrap main-content-wrap">
        
        <input type="text" class="sign-in-field " placeholder="שם ושם משפחה" data-ng-model="name">
        <input type="mail" class="sign-in-field" placeholder="מייל" data-ng-model="mail">
        <textarea class="contact-text" placeholder="כתוב טקסט..." data-ng-model="text"></textarea>
          
        <button data-ng-click="sendContact()" data-ng-style="{'background-color': '{{featureDetails.featureColor}}'}">שלח</button>  
      
        <section id="contact-social-networks">
            <div id="contact-hebrew" class="contact-social">
                <div id="title-hebrew" class="contact-lang">עברית</div>
                <div class="contact-facebook"><a href="https://www.facebook.com/NaftaliBennett">https://www.facebook.com/NaftaliBennett</a></div>
                <div class="contact-twitter"><a href="https://twitter.com/naftalibennett">https://twitter.com/naftalibennett</a></div>
                <div class="contact-newsLetter"><a href="http://my-t.co.il/view/Cms.aspx?i=1022">http://my-t.co.il/view/Cms.aspx?i=1022</a></div>
            </div>
            <div id="contact-english" class="contact-social">
                <div id="title-english" class="contact-lang">English</div>
                <div class="contact-facebook"><a href="https://www.facebook.com/bennettnaftalienglish">https://www.facebook.com/bennettnaftalienglish</a></div>
                <div class="contact-twitter"><a href="https://twitter.com/Naftali_Bennett">https://twitter.com/Naftali_Bennett</a></div>
            </div>
            <div id="contact-russian" class="contact-social">
                <div id="title-russian" class="contact-lang">Pусский</div>
                <div class="contact-facebook"><a href="https://www.facebook.com/NaftaliBennettRussian">https://www.facebook.com/NaftaliBennettRussian</a></div>
                <div class="contact-twitter"><a href="https://twitter.com/NaftalyBennet">https://twitter.com/NaftalyBennet</a></div>
            </div>
            <div id="contact-arabic" class="contact-social">
                <div id="title-arabic" class="contact-lang">العربية</div>
                <div class="contact-facebook"><a href="https://www.facebook.com/NaftaliBennettArabic">https://www.facebook.com/NaftaliBennettArabic</a></div>
                <div class="contact-twitter"><a href="https://twitter.com/BennetArabic">https://twitter.com/BennetArabic</a></div>
            </div>
            <div id="contact-french" class="contact-social">
                <div id="title-french" class="contact-lang">Français</div>
                <div class="contact-facebook"><a href="https://www.facebook.com/NaftaliBennettFrancais">https://www.facebook.com/NaftaliBennettFrancais</a></div>
                <div class="contact-twitter"><a href="https://twitter.com/naftali_fr">https://twitter.com/naftali_fr</a></div>
            </div>
            <div class="contact-version">version 0.0.2</div>
        </section>  
       <!--
      canceled by client until further notice, don't delete
      <div class="contact-details"> 
            <div>כתובתנו: אחד העם 12</div>
            <input type="tel" value="טלפון: 02-83333333"/>
            <div>פקס: 02-83335553</div>
        </div>-->
       
 </div>