
a:link, a:active, a:hover, a:visited, a:focus {
    color: grey;
}

.contact-content-wrap input::-webkit-input-placeholder {
    color: #808080;
}

.contact-content-wrap input:-moz-placeholder { /* Firefox 18- */
     color: #808080;
}

.contact-content-wrap input::-moz-placeholder { /* Firefox 19+ */
     color: #808080;
}

.contact-content-wrap input:-ms-input-placeholder {
    color: #808080;
}

.contact-content-wrap textarea::-webkit-input-placeholder {
     color: #808080;
}

.contact-content-wrap textarea:-moz-placeholder { /* Firefox 18- */
    color: #000000;
}

.contact-content-wrap textarea::-moz-placeholder { /* Firefox 19+ */
    color: #808080;
}

.contact-content-wrap textarea:-ms-input-placeholder {
    color: #808080;
}


.contact-content-wrap button {
    height: 32px;
    width: 100%;
    -webkit-box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 8px 6px -2px rgba(0, 0, 0, 0.4);
}

.contact-text {
    background-color: #2f343b;
    display: block;
    border-radius: 10px;
    color: white;
    width: 90%;
    margin: 5px auto 10px auto;
    position: relative;
    text-indent: 10px;
    text-indent: 10px;
    height: 145px;
    border: none;
}

.contact-details {
    width: 60%;
    margin: auto;
    margin-top: 31px;
    color: white;
    line-height: 25px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    padding-bottom: 44px;
}

.contact-content-wrap {
    /* background-color: #2f343b; */
    margin-top: 20px;
}

.main-content-wrap.contact-content-wrap {
    padding: 46px 14px 0px 14px;
}

.sub-header {
    -webkit-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.55);
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.55);
}

.contact-content-wrap input {
    color: black;
    background-color: white;
    width: 100%;
    height: 36px;
    margin: 0px 0px 14px 0px;
}

.contact-content-wrap textarea {
    color: black;
    background-color: white;
    width: 100%;
    height: 80px;
}

.contact-content-wrap textarea {
    padding-top: 9px;
    margin: 0px 0px 14px 0px;
}
.contact-content-wrap input[type="tel"] {
    border: none;
    box-shadow: none;
    background-color: transparent;
    color: white;
    text-align: center;
    margin: auto;
    width: 100%;
}


.sub-header {
    -webkit-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.55);
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.55);
}

.bottom-white-color {
    height: 4px;
    width: 100%;
    background-color: #ffffff;
}

#contact-social-networks {
    direction: ltr;
    margin-top: 40px;
}

.contact-social {
    border-top: 2px solid black;
    padding: 20px 0 20px 0;
    margin: 0 10px;
    line-height: 30px;
    font-size: 13px;
    position: relative;
}

.contact-lang {
    position: absolute;
    right: 5px;
    top: -18px;
    width: 35px;
    height: 35px;
}

#title-hebrew {
    background-image: url('../../img/heb.png');
    background-position: 0px;
    background-size: 100%;
    background-repeat: no-repeat;
}

#title-english {
    background-image: url('../../img/ENG.png');
    background-position: 0px;
    background-size: 100%;
    background-repeat: no-repeat;
}

#title-russian {
    background-image: url('../../img/RU.png');
    background-position: 0px;
    background-size: 100%;
    background-repeat: no-repeat;
}

#title-arabic {
    background-image: url('../../img/AR.png');
    background-position: 0px;
    background-size: 100%;
    background-repeat: no-repeat;
}

#title-french {
    background-image: url('../../img/FRA.png');
    background-position: 0px;
    background-size: 100%;
    background-repeat: no-repeat;
}

.contact-facebook {
    background-image: url('../../img/contact_facebook.png');
    background-position: 0px;
    background-size: 24px;
    background-repeat: no-repeat;
    padding-left: 35px;
	color: #808080;
	height: 24px;
	font-size: 10px;
	margin-bottom: 4px;
}

.contact-twitter {
    background-image: url('../../img/contact_twitter.png');
    background-position: 0px;
    background-size: 24px;
    background-repeat: no-repeat;
    padding-left: 35px;
	color: #808080;
	height: 24px;
	font-size: 10px;
	margin-bottom: 4px;
}

.contact-newsLetter {
    background-image: url('../../img/contact_book.png');
    background-position: 0px;
    background-size: 24px;
    background-repeat: no-repeat;
    padding-left: 35px;
	color: #808080;
	height: 24px;
	font-size: 10px;
	margin-bottom: 4px;
}

.contact-version {
    border-top: 2px solid black;
    padding-left: 35px;
    font-size: 13px;
    color: grey;
    height: 70px;
    padding-top: 20px;
    margin: 0 10px;
}
