<link rel="stylesheet" type="text/css" href="./components/contact/contact.css" sb-load="showAll($event)" />

<div class="sub-header" data-ng-class="{'site-sub-header':isSiteHeader==true}">
    <div data-ng-style="{'background-color': '{{featureDetails.featureColor}}'}">
    צור קשר
    </div>
    <div class="bottom-white-color"></div>
</div>

  <div class="contact-content-wrap main-content-wrap" data-ng-show="showAll==true">
        
        <input type="text" class="sign-in-field" placeholder="שם ושם משפחה" data-ng-model="name" data-ng-class="{loginErrorActive: showNameError}">
        <input type="email" class="sign-in-field" placeholder="מייל" data-ng-model="mail" data-ng-class="{loginErrorActive: showEmailError}">
        <textarea class="contact-text" placeholder="כתוב טקסט כאן..." data-ng-model="text" data-ng-class="{loginErrorActive: showTextError}"></textarea>
        
		<div class="login-error" data-ng-show="showNameError">* שדה שם הינו חובה</div>
		<div class="login-error" data-ng-show="showEmailError">* שדה מייל לא הוזן כראוי</div>
        <div class="login-error" data-ng-show="showTextError">*שדה מסר הינו חובה</div>		
        <div class="login-error" data-ng-show="showContactError">* {{ContactErrorMessage}}</div>
		 
		<button data-ng-click="sendContact()" data-ng-style="{'background-color': '{{featureDetails.featureColor}}'}">שלח</button>  
      
        <section id="contact-social-networks">
            <div id="contact-hebrew" class="contact-social">
                <div id="title-hebrew" class="contact-lang"></div>
                <div class="contact-facebook" data-ng-click="contact('FB','he')">{{links['FB']['he']}}</div>
                <div class="contact-twitter" data-ng-click="contact('Twitter','he')">{{links['Twitter']['he']}}</div>
                <div class="contact-newsLetter" data-ng-click="contact('NewsLtr','he')">{{links['NewsLtr']['he']}}</div>
            </div>
            <div id="contact-english" class="contact-social">
                <div id="title-english" class="contact-lang"></div>
                <div class="contact-facebook" data-ng-click="contact('FB','en')">{{links['FB']['en']}}</div>
                <div class="contact-twitter" data-ng-click="contact('Twitter','en')">{{links['Twitter']['en']}}</div>
            </div>
            <div id="contact-russian" class="contact-social">
                <div id="title-russian" class="contact-lang" ></div>
                <div class="contact-facebook" data-ng-click="contact('FB','ru')">{{links['FB']['ru']}}</div>
                <div class="contact-twitter" data-ng-click="contact('Twitter','ru')">{{links['Twitter']['ru']}}</div>
            </div>
            <div id="contact-arabic" class="contact-social">
                <div id="title-arabic" class="contact-lang"></div>
                <div class="contact-facebook"  data-ng-click="contact('FB','ar')">{{links['FB']['ar']}}</div>
                <div class="contact-twitter" data-ng-click="contact('Twitter','ar')">{{links['Twitter']['ar']}}</div>
            </div>
            <div id="contact-french" class="contact-social">
                <div id="title-french" class="contact-lang"></div>
                <div class="contact-facebook" data-ng-click="contact('FB','fr')">{{links['FB']['fr']}}</div>
                <div class="contact-twitter" data-ng-click="contact('Twitter','fr')">{{links['Twitter']['fr']}}</div>
            </div>
            <div class="contact-version">version 0.6.0</div>
        </section>  
       
 </div>
<img src="http://www.galim.org.il/pools/files/GalimGifs/GalimGifPicture/12888.jpg" sb-load="showAll($event)" style="display: none;" /><!--hack- for triggering event of dom loaded-->
