

<div class="channel-title-zone sub-header">
    <div class="channel-title" data-ng-style="{'background-color': '{{featureDetails.featureColor}}'}" data-ng-show = "pollIsActive()">סקר פעיל</div>
    <div class="channel-title" data-ng-style="{'background-color': '{{featureDetails.featureColor}}'}" data-ng-hide = "pollIsActive()">תודה על השתתפותך</div>
    <div class="color-line"></div>
</div>

<div class="pollView-container" >
	<div class="pollView-title" data-ng-style="{'color': '{{featureDetails.featureColor}}', 'background-color': '#ffffff'}">
		{{currentPollObj.title}}
	</div>
	<div class="imageView-background">
		<div class="imageView-container">
			<div class="pollView-image" style="background-image: url('{{currentPollObj.image}}')" data-ng-style="{'background-color': '#ffffff'}"></div>
		</div>
	</div>
	<div class="pollView-text" data-ng-style="{'background-color': '#ffffff'}">
		<p>{{currentPollObj.content}} </p>
	</div>

	<!--Div that will hold the pie chart-->
	<div google-chart data="currentPollResults" type={{currentPollObj.chartType}} data-ng-hide = "pollIsActive()"></div>
	<div class="gray-line" data-ng-hide = "pollIsActive()"></div>
	 <div ng-repeat="line in legend" class="legend-container" data-ng-hide = "pollIsActive()">
		<div class="legend-color" data-ng-style="{'background-color': '{{line.color}}'}"></div>
		<div class="legend-content" data-ng-style="{'color': '#ffffff'}">{{line.title}}</div>
		<div class="legend-image" data-ng-show='{{line.image}}' >
			<img src='{{line.image}}' data-ng-style="{'background-color': '#42484e', 'padding':'3px'}">
		</div>
	</div>
	
	 <div ng-repeat="line in optionsForVote" data-ng-show = "pollIsActive()"> 
		<img data-ng-show = '{{line.image}}' src='{{line.image}}' data-ng-style="{'background-color': '#42484e', 'padding':'3px', 'width' :'70%', 'height' :'80%', 'margin-right' :'15%', 'margin-top' :'10%'}">
		<div class="optionToVote-container" data-ng-show = "pollIsActive()" ng-click="addVote($index);"> {{line.name}} </div>
	</div>
	<div class="button" data-ng-click="addVote()" data-ng-style="{'background-color': '#da4f00'}" style="background-color: rgb(218, 79, 0);"> הצבע</div>
</div>			


