<!--<link rel="stylesheet" media="screen and (min-width: 900px)" type="text/css" href="{{siteOrigin}}components/poll/poll.css" />-->

<div class="channel-title-zone sub-header">

    <ul class="nav nav-tabs" style="background-color:{{featureDetails.featureColor}}">
        <li style="width: 50%"><a href="#Tab1" toggle="on" parent-active-class="active" data-ng-click="getActivePoll()">סקרים פתוחים</a></li>
        <li style="width: 50%"><a href="#Tab2" toggle="on" parent-active-class="active" data-ng-click="getInActivePoll()">סקרים סגורים</a></li>
    </ul>

    <div class="tab-content" data-ng-hide="true"><!--ignore this section- do not delete-->
        <div class="tab-pane" toggleable active-class="active" default="active" id="Tab1" exclusion-group="myTabs"></div>
        <div class="tab-pane" toggleable active-class="active" id="Tab2" exclusion-group="myTabs"></div>
    </div>
</div>

<div class="polls-layout posts-list" scroller loading-method="loadMore()">
    <post ng-repeat="post in polls()" data-post-type="poll"></post>
    <div class="end-load-more" data-ng-if="showendloader == true">
        <img alt="end" src="./img/end_feed.png" />
        <div class="loadmore-endline"></div>
    </div>
    <div class="spiner-zone" data-ng-show="showSpiner()">
        <div class="loader" data-ng-class="{'general-loader':polls().length==0}"></div>
    </div>
</div>

</div>
<div class="sub-header  special-sub-header" id="feature-header" data-ng-click="SuggestPoll()">
    <div class="inner-special-header" data-ng-style="{'background-color':featureDetails.featureColor}">
   הצע סקר
    </div>
</div>
