<!--<script type="text/javascript" src="https://www.google.com/jsapi"></script>-->

<div class="channel-title-zone sub-header">
    <div class="channel-title" data-ng-style="{'background-color': '{{featureDetails.featureColor}}'}" data-ng-show = "pollIsActive()">סקר פעיל</div>
    <div class="channel-title" data-ng-style="{'background-color': '{{featureDetails.featureColor}}'}" data-ng-hide = "pollIsActive()">תודה על השתתפותך</div>
    <div class="color-line"></div>
</div>

<div class="pollView-container" >
	<div class="pollView-title" data-ng-style="{'color': '{{featureDetails.featureColor}}', 'background-color': '#ffffff'}">
		{{currentPollObj.title}}
	</div>
	<div class="imageView-background">
		<div class="legend-image" data-ng-style="{'background-image': 'url({{currentPollObj.img}})'}">
			<!--<img src='{{currentPollObj.img}}' data-ng-style="{'background-color': '#42484e', 'padding':'3px'}">-->
		</div>
	</div>
	<div class="pollView-text" data-ng-style="{'background-color': '#ffffff'}">
		<p>{{currentPollObj.content}} </p>
	</div>

	<!--Div that will hold the pie chart-->
	<div google-chart data="currentPollResults" type={{currentPollObj.poll.pollType}} data-ng-hide = "pollIsActive()"></div>
	<div class="gray-line" data-ng-hide = "pollIsActive()"></div>
	 <div ng-repeat="line in legend" class="legend-container" data-ng-hide = "pollIsActive()">
		<div class="legend-color" data-ng-style="{'background-color': '{{line.color}}'}"></div>
		<div class="legend-content" data-ng-style="{'color': '#ffffff'}">{{line.title}}</div>
		<div class="legend-image" data-ng-show='{{"line.image"}}' data-ng-style="{'background-image': 'url({{line.image}})'}">
			
		</div>
	</div>
	
	 <div ng-repeat="item in optionsForVote" data-ng-show = "pollIsActive()" data-ng-style="{'padding-top':'10px'}"> 
		<div class="optionToVote-image" data-ng-show ='{{"item.imageUrl"}}' data-ng-style="{'background-image': 'url({{item.imageUrl}})'}">
			<!--<img ng-src="{{item.imageUrl}}" >-->
		</div>
		<div class="optionToVote-container" data-ng-show = "getIsSelected($index);" ng-click="selectOption($index);" data-ng-style="{'color': '#ffffff', 'background-color': '#565c63'}"> {{item.answer}} </div>
		<div class="optionToVote-container" data-ng-hide = "getIsSelected($index);" ng-click="selectOption($index);" data-ng-style="{'color': '#000000', 'background-color': '#ffffff'}"> {{item.answer}} </div>
	</div>
	<div data-ng-show = "pollIsActive()" class="button" data-ng-click="addVote()" data-ng-style="{'background-color': '#da4f00', 'color': '#ffffff'}" > הצבע</div>
</div>			


