
<section id="main-menu">
    <div class="current-feature" data-ng-click="goToFeature(features[0].featureUrl, features[0].postId)">
        <div class="current-feature-components">
            <div class="current-feature-image" style="background-image: url('{{features[0].featureImg}}')"></div>
            <div class="current-feature-name">
                <h2>{{features[0].featureName}}</h2>
                <div class="feature-logo" style="background-image: url('{{features[0].featureLogo}}')"></div>
            </div>
            <h2 class="current-feature-title">{{features[0].title}}</h2>
            <p class="current-feature-text">{{features[0].text}}</p>
        </div>
    </div>

    <div id="features-swipe-inner" class="row features-swipe" data-ng-init="this.scrollLeft=($scope.features.length-1)*145">
        <div data-ng-style="{'position': 'relative','width': '{{(features.length-1)*145}}px','height': '100%'}">
            <div class="col-sm-6 col-md-4 menu-item-feature" data-ng-repeat="feature in features" data-ng-click="goToFeature(feature.featureUrl, feature.postId)" data-ng-hide="$index==0" data-on-finish-render="scrollToEnd">
                <div class="thumbnail current-feature-components">
                    <div class="caption current-feature-name">
                        <h2>{{feature.featureName}}</h2>
                        <div class="feature-logo" style="background-image: url('{{feature.featureLogo}}')"></div>
                    </div>
                    <div class="caption desc">
                        <h3>{{feature.title}}</h3>
                        <p>{{feature.text}}</p>
                    </div>
                    <img ng-src="{{feature.featureImg}}" alt="...">

                </div>
            </div>
        </div>        
      </div>
    </div>
</section>
