<link rel="stylesheet" media="screen and (min-width: 900px)" type="text/css" href="{{siteOrigin}}components/mainMenu/mainMenu.css" />

<section id="main-menu" data-role="page">
    <a class="current-feature" href="{{originUrl + features()[0].link}}">
        <div class="current-feature-components">
            <div class="current-feature-image" style="background-image: url('{{features()[0].image}}')"></div>
            <div class="current-feature-title">
                <h2>{{features()[0].title}}</h2>
            </div>
        </div>
    </a>

    <div id="demanded-area">
        <h3 class="demanded-title"></h3>
        <div class="demand-circle" style=""></div>
        <div class="demand-circle" style=""></div>
        <div class="demand-circle" style=""></div>
        <div class="demand-circle" style=""></div>
    </div>

    <div id="features-list" class="caption">
        <a class="menu-item-feature" data-ng-repeat="feature in features()" href="{{originUrl + feature.link}}" data-ng-hide="$index==0">
            <div class="current-feature-components">
                <img ng-src="{{feature.image}}" alt="...">
                <div class="features-title">
                    <h3 class="inner-features-title">{{feature.title}}</h3>
                </div>
            </div>
        </a>
    </div>
</section>
