<!--<link rel="stylesheet" media="screen and (min-width: 900px)" type="text/css" href="{{siteOrigin}}components/mainMenu/mainMenu.css" />-->
<section id="main-menu" data-role="page">
    <div ticker class="ticker-container main-menu-shadow">
        <div class="ticker-text">
            <span data-ng-repeat="newspost in news" style="display: inline-block;" data-ng-click="readNews(newspost._id)">
                <span>&nbsp;&nbsp;&nbsp;</span> {{ newspost.timestamp | date : ' hh:mm dd.MM.yyyy'}} {{ newspost.title}}
            </span>
        </div>
    </div>

    <div class="current-feature main-menu-shadow" data-ng-click="goToFeature(features[0].link)">
        <div>
            <img src="{{features[0].image}}" alt="main-img" class="main-img">
            <img src="./img/play_button.png" data-ng-if="features[0].isVideo == true" class="main-img-play">
            <div class="current-feature-title">
                <h3>{{features[0].title}}</h3>
            </div>
        </div>
    </div>

    <div id="demanded-area" class="main-menu-shadow">
        <h3 class="demanded-title">מבוקשים</h3>
        <div data-ng-repeat="feature in demandes" class="demand-circle" data-ng-click="goToFromeDemand(feature.featureSendInClick)" style="background-image: url('{{feature.featureIcon}}'); background-color: {{feature.featureColor}}; "></div>
    </div>

    <div id="features-list" class="caption" scroller loading-method="loadMore()">
        <div class="menu-item-feature" data-ng-repeat="feature in features" data-ng-hide="$index==0" data-ng-click="goToFeature(feature.link)">
            <div class="current-feature-components main-menu-shadow">
                <img ng-src="{{feature.image}}" alt="...">
                <div class="features-title">
                    <h3 class="inner-features-title" once-text="feature.title"><!--{{feature.title}} --></h3>
                </div>
            </div>
        </div>
    </div>
</section>


