
<link rel="stylesheet" type="text/css" href="./components/facebook/facebook.css" />



<div class="sub-header">
    <div data-ng-style="{'background-color': '{{featureDetails.featureColor}}'}">
    עמוד הפייסבוק
    </div>
    <div class="color-line color-line-bottom "></div>
</div>

<div class="facebook-wrap main-content-wrap" id="face-wrap" >
      <!--<div class="fb-like-box" data-href="https://www.facebook.com/NaftaliBennett?fref=ts" data-width="{{FaceItemWidth}}" data-height="{{FaceItemHeight}}" data-colorscheme="light" data-show-faces="false" data-header="false" data-stream="true" data-show-border="false"></div>-->

    
    
    
    
    <!-- <div class="fb-like-box" data-href="https://www.facebook.com/NaftaliBennett?fref=ts" data-colorscheme="light" data-show-faces="false" data-header="false" data-stream="true" data-show-border="false"></div>-->
      <!--<div data-fb-like="" data-fb-faces="false" data-fb-stream="true" data-fb-header="false"></div>-->
        
</div> 