
<link rel="stylesheet" type="text/css" href="./components/facebook/facebook.css" />
<link rel="stylesheet"  media='screen and (min-width: 900px)' type="text/css" href="{{siteOrigin}}components/facebook/facebook.css" />


<div class="sub-header" data-ng-class="{'site-sub-header':isSiteHeader==true}">
    <div data-ng-style="{'background-color': '{{featureDetails.featureColor}}'}">
    עמוד הפייסבוק
    </div>
    <div class=""></div>
</div>
 <!--<div id="tt"></div>-->
<div class="facebook-wrap main-content-wrap" id="face-wrap" >
   
      <!--<div class="fb-like-box" data-href="https://www.facebook.com/NaftaliBennett?fref=ts" data-width="{{FaceItemWidth}}" data-height="{{FaceItemHeight}}" data-colorscheme="light" data-show-faces="false" data-header="false" data-stream="true" data-show-border="false"></div>-->

    
    
    
    
    <!-- <div class="fb-like-box" data-href="https://www.facebook.com/NaftaliBennett?fref=ts" data-colorscheme="light" data-show-faces="false" data-header="false" data-stream="true" data-show-border="false"></div>-->
      <!--<div data-fb-like="" data-fb-faces="false" data-fb-stream="true" data-fb-header="false"></div>-->
        
</div> 